  body {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin: 0;
      font-size: 16px;
      color: #333333;
      background: #fff;
  }
  
  * {
      font-family: 'Roboto', sans-serif;
  }
  
  button:focus {
      outline: none;
  }
  
  a:hover {
      color: inherit;
      text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
      margin-bottom: 0;
      font-size: 400;
  }
  
  a {
      color: inherit;
  }
  
  ul,
  li {
      padding: 0;
      list-style-type: none;
      margin: 0;
  }
  
  
  
  .no-wrap {
      white-space: nowrap;
  }
  
 
  
  .header {
      background: #020c2c;
      position: relative;
      height:65px;
  }
  .header::after{
    content: "";
    border-bottom: 65px solid #fff;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .header .navbar-brand{
      z-index: 2;
  }
  .header .dropdown-toggle::after{
    display: none;
  }
  
  .header .navbar-toggler-right {
      top: 1.5rem;
      color: #fff;
  }
  
  .header .navbar-toggleable-sm {
      padding: 0;
  }
  
  .header .navbar-toggleable-sm .navbar-nav .nav-item {
      align-self: center;
  }
  
  .header .navbar-toggleable-sm .navbar-nav .nav-link {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      padding: 1rem 1.2rem;
  }
  
 
  
  .header .navbar-toggleable-sm .navbar-nav .active .nav-link {
      color: #ffd64f;
  }
  
  .header .navbar-toggleable-sm .navbar-nav .nav-link:hover {
      transition: .5s;
      color: #ffd64f;
  }

  
  
 
  .footer {
      background: #002045;
      color: #fff;
      border-top: 3px solid #ffd64f;
  }
  
  .footer .ct-bottom {
      color: #ffd64f;
      text-align: center;
      padding: 1rem;
      background: #001833;
      font-size: 14px;
  }
  
  .footer .heading {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 1rem;
  }
  
  .footer .link-footer {
      font-size: 14px;
      margin-bottom: 1.5rem;
  }
  
  .footer .link-footer span {
      color: #ffd64f;
      font-weight: 500;
  }
  
  .footer .link-footer li {
      margin-bottom: 1rem;
      font-size: 14px;
      
  }
  
  .footer .link-footer li a:hover {
      color: #0072ff;
      transition: .5s;
  }
  

  .ss-name {
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 50px 0;
  }
  .ss-name .title{
      color:#00165a;
      font-size: 20px; 
      margin-bottom: 30px;
      font-weight: 700;
  }
  .ss-name .text{
      font-size: 16px;
      color: #666666;
  }
  
  .services .item{
      overflow: hidden;
      position: relative;

  }
  .services .item img{
    filter: grayscale(100%);
  }
  .services .item:hover img{
      filter: grayscale(0);
      transition: .5s;
  }
  .services .item .title{
      background: #00000067;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      padding: 15px;
      font-size: 24px;
      line-height: 1;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      width: 100%;
  }
  .services .item:hover .title{
      background: none;
      transition: .5s;
  }
  .services .item .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #0f486d51;
    visibility: hidden;
    transition: .5s;
  }
  .services .item:hover .overlay{
    height: 100%;
    visibility: visible;
    transition: .5s;
  }
  .why{
      background: url(../imgs/bg-ss-3.jpg) no-repeat center center;
      background-size: cover;
      padding: 20px 0
  }
  .why .item{
      text-align: center;
      margin-bottom: 3rem;
  }
  .why .item .text{
      color: #00243d;
      font-size: 14px;
      line-height: 24px;
  }
  .why .item .image{
      margin-bottom: 1.5rem;
  }
  .huan-luyen-vien .item{
      background: #fff;
      box-shadow: 1px 0 10px #00000029;
      margin-bottom: 1.5rem;
      
  }
.huan-luyen-vien .item .image{
    position: relative;
    height: 100%;
}
.huan-luyen-vien .item .image img{
    height: 100%;
    object-fit: cover;
}
.huan-luyen-vien .item .image .overlay{
    position: absolute;
    bottom: 0;
    background: #0f486d51;
    height: 0%;
    width: 100%;
    left: 0;
    visibility: hidden;
    transition: .5s;
}
.huan-luyen-vien .item:hover .overlay{
    height: 100%;
    visibility: visible;
    transition: .5s;
}
.huan-luyen-vien .btn-res{
    color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
    border-radius: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    visibility: hidden;;
    transition: .3s;
    font-size: 18px;
    text-transform: uppercase;
}
.huan-luyen-vien .btn-res:hover{
    color: #fff;
}
.huan-luyen-vien .item:hover .btn-res{
    visibility: visible;
    transition: .8s;
}
.huan-luyen-vien .item .text .name{
    text-transform: uppercase;
    padding-left: 1rem;
    position: relative;line-height: 1;
    margin-bottom: 1.5rem;
}
.huan-luyen-vien .item .text .name::before{
    content: "";
    height: 100%;
    width: 3px;
    background: #0061a5;
    position: absolute;
    left: 0;
    
}
.huan-luyen-vien .item .text .name .top{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    
    color: #0061a5;
}
.huan-luyen-vien .item .text .name .bot{
    font-size: 12px;
    font-weight: 700;color: #666666;
}
.huan-luyen-vien .item .text .skill li{
    font-size: 14px;color: #333333;
    margin-bottom: 1rem;
}
.huan-luyen-vien .item .text .skill li::before{
    content: "■";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #00165a; /* Change the color */
    font-weight: 700; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1rem; /* Also needed for space (tweak if needed) */
}
.imgcover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.res{
    background: url(../imgs/bg-res.jpg) no-repeat center center;
    background-size: cover;
}
.res-2{
    background: url(../imgs/bg-res-2.jpg) no-repeat center center;
}
.res .heading{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    margin-bottom: 2rem;
}
.res .heading::after{
    content: "";
    background: #fff;
    width: 100px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -1rem;
}
.res input{
    height: 50px;
    border-radius: 5px;
}
.res .btn,.btn-res-yellow{
    background: none;
    border:2px solid #ffd64f;
    border-radius: 0;
    text-transform: uppercase;
    color: #ffd64f;
    font-weight: 700;
    cursor: pointer;
    padding: .75rem 2rem;
    font-size: 18px;
}
.res .btn:hover,.btn-res-yellow:hover{
    background: #00174c;
    transition: .5s;
}

.client{
    background: url(../imgs/bg-client.jpg) no-repeat center center;
    background-size: cover;
}
.client .image{
    background: #fff;
    box-shadow: 0px 0 5px #00000040;
}

.contact{
    margin-top: -100px;
}
.contact .box{
    box-shadow: 0 3px 10px #00000016;
}
.contact .box .left{
    padding:80px 60px;
    background: #fff;
    color: #070707;
    
}
.contact .box .left input.form-control,.contact .box .left textarea.form-control{
    border-radius: 0;
    background: #f6f6f6;
    color: #666666;
}
.contact .box .left .heading{
    font-size: 24px;
    font-weight: 700;margin-bottom: 1.5rem;
}
.contact .box .right{
    background: #e5bb3f;
    color: #020c2c;
    padding: 80px 60px;
    box-shadow: 0 3px 10px #00000016;
}
.contact .btn-book{
    font-weight: 500;
    padding: .75rem 1.5rem;
    background: #0061a5;
    color: #fff;
    border-radius: 0;
    cursor: pointer;

}
.banner-vmb {position: relative;}
.banner-vmb .ovelay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #00000094, #0000001f);
    color: #fff;
    display: flex;
}
.banner-vmb .ovelay .heading .top {
    font-size: 48px;
    font-weight: bold;
}


.res-bot{
    background: url(../imgs/bg-page-res.jpg) no-repeat center;
    background-size: cover;
    padding: 60px 0;
}
.res-bot .ss-name .title{
    color: #000;
    font-size: 28px;
}
.btn-res-blue{
    border:2px solid #00165a;
    color: #00165a;
    text-transform: uppercase;
    padding: .75rem 1.2rem;
    font-size: 18px;
    background: none;
    border-radius: 0;
    cursor: pointer;
    transition: .5s;
    font-weight: 700;
}
.btn-res-blue:hover{
    background: #fff;
    transition: .5s;
}

.service-ss-1 {
    background: url(../imgs/bg-service-ss-1.jpg) no-repeat center left;
    color: #fff;
    padding: 70px 0;
    font-size: 14px;
}
.service-ss-1 .content{
    width: 80%;
}
.service-ss-3 {
    background: url(../imgs/bg-service-ss3.jpg) no-repeat center center;
    color: #fff;
    padding: 100px 0;
    font-size: 14px;
    background-size: cover;
}
.service-ss-3 .content{
    width: 80%;
}
.service-ss-3 .btn-res-yellow-2{
    color: #fff;
    background: #ffd64f;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
}
.service-ss-3 .btn-res-yellow-2:hover{
    background: none
}

.service-ss-4 {
    background: url(../imgs/bg-service-ss-4.jpg) no-repeat center ;
    min-height: 100vh;
}
.service-ss-5 {
    background: url(../imgs/bg-service-ss-5.jpg) no-repeat center ;
}

.heading-blog-ss{
    font-size: 24px;color: #15327c;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 50px;
    position: relative;
}
.heading-blog-ss::before{
    content: "■";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #ffd64f; /* Change the color */
    font-weight: 700; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1rem; /* Also needed for space (tweak if needed) */
} 
.heading-blog-ss::after{
    content: "";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    background: #ffd64f;
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: calc(100% - 100px);
    height: 3px;
} 
.video .video-item{
    margin-bottom: 1rem;
}
.list-blog .blog-item{margin-bottom: 1.5rem;}
.list-blog .blog-item .image{
    max-height: 280px;
    overflow: hidden;
    margin-bottom: 14px;
}
.list-blog .blog-item  .title{
    font-size:16px;
    font-weight: 500;
    color: #000;
}

.list-blog .heading-blog-ss::after{
    width: calc(100% - 300px);
}

.list-blog-cate{
    background: #000924;
    padding: 1rem 0;
    color: #fff;
    text-transform: uppercase;
}
.list-blog-cate .heading{
    color: #33bcff;
    min-width:105px;
    max-width:105px;
}
.list-blog-cate .list .item{
    font-size: 12px;
    padding: 0 .75rem;
}
.list-blog-cate .list .item:hover{
    color: #33bcff;
    transition: .5s;
}

.blog-detail .breadcrumb{
    background: none;
    border-bottom: 1px solid #e5bb3f;
    margin-bottom: 2rem;
}
.blog-detail .breadcrumb-item{
color: #666666;
}
.blog-detail .breadcrumb-item.active{
color:#333333;
}
.blog-detail .title{
    font-size:24px;
    color: #000;
    margin-bottom: 1rem;
}
.btn-fb{
    background: #4267b2;
    color: #fff;
}
.blog-detail .description{
    color:#000;
    font-weight: 500;
}
.blog-detail .content{
    color: #333333;
}


.modal-book .modal-content{
    background: url(../imgs/bg-modal.png) no-repeat center center;
    background-size: contain;
    min-height: 650px;
    border:none;
}
.modal-book .modal-content .heading .top{
    color: #ff0000;font-size:30px;font-weight: bold;text-transform: uppercase;text-align: center;margin-bottom: 20px;
}
.modal-book .modal-content .heading .bot{
    font-size: 22px; font-weight: 500;text-align: center;color: #000;text-transform: uppercase;margin-bottom: 40px;
}
.modal-book .btn-book{
    background: #e5bb3f;
    border-radius: 0;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    padding: .75rem 1.5rem;
    cursor: pointer;
}
.modal-book  input.form-control{
    height: 50px;border-radius: 0;
    color: #666666;
}
  @media(max-width:1366px) {}
  
  @media(max-width:1200px) {}
  
  @media(max-width:1080px) {}
  
  @media(max-width:992px) {
    .modal-book .modal-content{
        background: url(../imgs/bg-modal.png) no-repeat center center;
        background-size: auto;
        min-height: auto;
    }
  }
  
  @media(max-width:768px) {
    .header .navbar-brand {
        max-width: 200px;
     }
      .header{height: auto;}
    .header::after{
        width: 50%;
        border-bottom: 66px solid #fff;
      }
      .header .navbar-toggler-right{
          z-index: 3;
      }
      .services .item .title{
          font-size: 18px;
      }
      .list-blog-cate{transition: .5s;}
      .list-blog-cate .heading{
        color: #33bcff;
        min-width:auto;
        max-width:100%;
        width: 100%;
        -webkit-appearance: menulist-button;
        padding: 5px 0;
    }
    .list-blog-cate .list .item{
        padding: .5rem 0;
    }
    .list-blog-cate .list{
        height: 0;
        overflow: hidden;
        transition: 1s;
    }
    .list-blog-cate .list.show{
        height: 100vh;
        transition: .5s;


    }
    .contact {
        margin-top: -20px;
    }
    


  }
  
  @media(max-width:567px) {
      .header .navbar-toggleable-sm .navbar-nav .nav-item {
          align-self: auto;
      }
      ul.navbar-nav.ml-auto {
          padding: 1rem 0;
      }
      .header .navbar-toggleable-sm .navbar-nav .nav-link {
          padding: .5rem 0;
      }
      .header .navbar-brand {
         max-width: 150px;
      }
      .header::after{
        width: 220px;
        border-bottom: 52px solid #fff;
      }
      .header .navbar-toggler-right{
          top:12px;
      }
      .banner-vmb .ovelay .heading .top {
        font-size: 28px;
        font-weight: bold;
    }
      
  }
  
  @media(max-width:375px) {
      
  }
@media (min-width: 1200px){
    .container {
        /* width: 1140px; */
        width: 80%;
        max-width: 100%;
    }
} 