﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CMS/Master/ICMS.Master" AutoEventWireup="true" CodeBehind="ProductManager.aspx.cs" Inherits="RBLand.CMS.Pages.Product" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeaderCph" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainCph" runat="server">
    askdaks
    <div style="padding-top: 100px">
    <select data-placeholder="Chọn trạng thái" class="select" id="propertiesddl" multiple>
        <option value="AZ">Hàng mới</option>
        <option value="CO">Đã qua sử dụng</option>
    </select></div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="FooterCph" runat="server">
    <link href="/CMS/Themes/js/fselect/styles.css" rel="stylesheet" />
    <script src="/CMS/Themes/js/fselect/fselect.js"></script>
    <script>
        $(function () {
            $('#propertiesddl').fselect({
                dropDownWidth: 0,
                autoResize: true,
                multiple: true
            });
        }
        )
    </script>

</asp:Content>
