﻿/* js tree*/
.jstree-node { font-family: tahoma; }
.jstree-node, .jstree-children, .jstree-container-ul { display: block; margin: 0; padding: 0; list-style-type: none; list-style-image: none; }
.jstree-node { white-space: nowrap; }
.jstree-anchor { display: inline-block; color: #000; white-space: nowrap; padding: 0 4px 0 1px; margin: 0; vertical-align: top; }
.jstree-anchor:focus { outline: 0; }
.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active { text-decoration: none; color: inherit; }
.jstree-icon { display: inline-block; text-decoration: none; margin: 0; padding: 0; vertical-align: top; text-align: center; }
.jstree-icon:empty { display: inline-block; text-decoration: none; margin: 0; padding: 0; vertical-align: top; text-align: center; }
.jstree-ocl { cursor: pointer; }
.jstree-leaf > .jstree-ocl { cursor: default; }
.jstree .jstree-open > .jstree-children { display: block; }
.jstree .jstree-closed > .jstree-children, .jstree .jstree-leaf > .jstree-children { display: none; }
.jstree-anchor > .jstree-themeicon { margin-right: 2px; }
.jstree-no-icons .jstree-themeicon, .jstree-anchor > .jstree-themeicon-hidden { display: none; }
.jstree-hidden, .jstree-node.jstree-hidden { display: none; }
.jstree-rtl .jstree-anchor { padding: 0 1px 0 4px; }
.jstree-rtl .jstree-anchor > .jstree-themeicon { margin-left: 2px; margin-right: 0; }
.jstree-rtl .jstree-node { margin-left: 0; }
.jstree-rtl .jstree-container-ul > .jstree-node { margin-right: 0; }
.jstree-wholerow-ul { position: relative; display: inline-block; min-width: 100%; }
#FRoot .jstree-wholerow-ul .jstree-leaf > .jstree-ocl { cursor: pointer; }
#FRoot .jstree-wholerow-ul .jstree-anchor, .jstree-wholerow-ul .jstree-icon { position: relative; }
#FRoot .jstree-wholerow-ul .jstree-wholerow { width: 100%; cursor: pointer; position: absolute; left: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.vakata-context { display: none; }
.vakata-context, .vakata-context ul { margin: 0; padding: 2px; position: absolute; background: #f5f5f5; border: 1px solid #979797; box-shadow: 2px 2px 2px #999; z-index: 999; }
.vakata-context ul { list-style: none; left: 100%; margin-top: -2.7em; margin-left: -4px; }
.vakata-context .vakata-context-right ul { left: auto; right: 100%; margin-left: auto; margin-right: -4px; }
.vakata-context li { list-style: none; }
.vakata-context li > a { display: block; padding: 0 2em; text-decoration: none; width: auto; color: #000; white-space: nowrap; line-height: 34px; text-shadow: 1px 1px 0 #fff; border-radius: 1px; }
.vakata-context li > a:hover { position: relative; background-color: #e8eff7; box-shadow: 0 0 2px #0a6aa1; }
.vakata-context li > a.vakata-context-parent { background-image: url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==); background-position: right center; background-repeat: no-repeat; }
.vakata-context li > a:focus { outline: 0; }
.vakata-context .vakata-context-hover > a { position: relative; background-color: #e8eff7; box-shadow: 0 0 2px #0a6aa1; }
.vakata-context .vakata-context-separator > a, .vakata-context .vakata-context-separator > a:hover { background: #fff; border: 0; border-top: 1px solid #e2e3e3; height: 1px; min-height: 1px; max-height: 1px; padding: 0; margin: 0 0 0 2.4em; border-left: 1px solid #e0e0e0; text-shadow: 0 0 0 transparent; box-shadow: 0 0 0 transparent; border-radius: 0; }
.vakata-context .vakata-contextmenu-disabled a, .vakata-context .vakata-contextmenu-disabled a:hover { color: silver; background-color: transparent; border: 0; box-shadow: 0 0 0; }
.vakata-context li > a > i { text-decoration: none; display: inline-block; width: 2.4em; height: 2.4em; background: 0 0; margin: 0 0 0 -2em; vertical-align: top; text-align: center; line-height: 2.4em; }
.vakata-context li > a > i:empty { width: 2.4em; line-height: 2.4em; }
.vakata-context li > a .vakata-contextmenu-sep { display: inline-block; width: 1px; height: 2.4em; background: #fff; margin: 0 .5em 0 0; border-left: 1px solid #e2e3e3; }
.vakata-context .vakata-contextmenu-shortcut { font-size: .8em; color: silver; opacity: .5; display: none; }
.vakata-context-rtl ul { left: auto; right: 100%; margin-left: auto; margin-right: -4px; }
.vakata-context-rtl li > a.vakata-context-parent { background-image: url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7); background-position: left center; background-repeat: no-repeat; }
.vakata-context-rtl .vakata-context-separator > a { margin: 0 2.4em 0 0; border-left: 0; border-right: 1px solid #e2e3e3; }
.vakata-context-rtl .vakata-context-left ul { right: auto; left: 100%; margin-left: -4px; margin-right: auto; }
.vakata-context-rtl li > a > i { margin: 0 -2em 0 0; }
.vakata-context-rtl li > a .vakata-contextmenu-sep { margin: 0 0 0 .5em; border-left-color: #fff; background: #e2e3e3; }
#jstree-marker { position: absolute; top: 0; left: 0; margin: -5px 0 0 0; padding: 0; border-right: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid; width: 0; height: 0; font-size: 0; line-height: 0; }
#jstree-dnd { line-height: 16px; margin: 0; padding: 4px; }
#jstree-dnd .jstree-icon, #jstree-dnd .jstree-copy { display: inline-block; text-decoration: none; margin: 0 2px 0 0; padding: 0; width: 16px; height: 16px; }
#jstree-dnd .jstree-ok { background: green; }
#jstree-dnd .jstree-er { background: red; }
#jstree-dnd .jstree-copy { margin: 0 2px; }

#FRoot.jstree-default .jstree-node, #FRoot.jstree-default .jstree-icon { background-repeat: no-repeat; background-color: transparent; }
#FRoot.jstree-default .jstree-anchor, #FRoot.jstree-default .jstree-animated, #FRoot.jstree-default .jstree-wholerow { transition: background-color .15s,box-shadow .15s; }
#FRoot.jstree-default .jstree-hovered { background: #e7f4f9; border-radius: 2px; box-shadow: inset 0 0 1px #ccc; }
#FRoot.jstree-default .jstree-context { background: #e7f4f9; border-radius: 2px; box-shadow: inset 0 0 1px #ccc; }
#FRoot.jstree-default .jstree-clicked { background: #beebff; border-radius: 2px; box-shadow: inset 0 0 1px #999; }
#FRoot.jstree-default .jstree-no-icons .jstree-anchor > .jstree-themeicon { display: none; }
#FRoot.jstree-default .jstree-disabled { background: 0 0; color: #666; }
#FRoot.jstree-default .jstree-disabled.jstree-hovered { background: 0 0; box-shadow: none; }
#FRoot.jstree-default .jstree-disabled.jstree-clicked { background: #efefef; }
#FRoot.jstree-default .jstree-disabled > .jstree-icon { opacity: .8; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale"); filter: gray; -webkit-filter: grayscale(100%); }
#FRoot.jstree-default .jstree-search { font-style: italic; color: #8b0000; font-weight: 700; }
#FRoot.jstree-default .jstree-no-checkboxes .jstree-checkbox { display: none !important; }
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked { background: 0 0; box-shadow: none; }
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered { background: #e7f4f9; }
.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked { background: 0 0; }
.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered { background: #e7f4f9; }
/*.jstree-default > .jstree-striped { min-width: 100%; display: inline-block; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==) left top repeat; }*/
#FRoot.jstree-default > .jstree-wholerow-ul .jstree-hovered, #FRoot.jstree-default > .jstree-wholerow-ul .jstree-clicked { background: 0 0; box-shadow: none; border-radius: 0; }
#FRoot.jstree-default .jstree-wholerow { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#FRoot.jstree-default .jstree-wholerow-hovered { background: #e7f4f9; }
#FRoot.jstree-default .jstree-wholerow-clicked { background: #beebff; background: -webkit-linear-gradient(top,#beebff 0,#a8e4ff 100%); background: linear-gradient(to bottom,#beebff 0,#a8e4ff 100%); }
#FRoot.jstree-default .jstree-node { min-height: 24px; line-height: 24px; margin-left: 24px; min-width: 24px; }
#FRoot.jstree-default .jstree-anchor { line-height: 24px; height: 24px; }
#FRoot.jstree-default .jstree-icon { width: 24px; height: 24px; line-height: 24px; }
#FRoot.jstree-default .jstree-icon:empty { width: 24px; height: 24px; line-height: 24px; }
.jstree-default.jstree-rtl .jstree-node { margin-right: 24px; }
#FRoot.jstree-default .jstree-wholerow { height: 24px; }
#FRoot.jstree-default .jstree-node, #FRoot.jstree-default .jstree-icon { background-image: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/32px.png); }
#FRoot.jstree-default .jstree-node { background-position: -292px -4px; background-repeat: repeat-y; }
#FRoot.jstree-default .jstree-last { background: 0 0; }
#FRoot.jstree-default .jstree-open > .jstree-ocl { background-position: -132px -4px; }
#FRoot.jstree-default .jstree-closed > .jstree-ocl { background-position: -100px -4px; }
#FRoot.jstree-default .jstree-leaf > .jstree-ocl { background-position: -68px -4px; }
#FRoot.jstree-default .jstree-themeicon { background-position: -260px -4px; }
#FRoot.jstree-default > .jstree-no-dots .jstree-node, #FRoot.jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl { background: 0 0; }
#FRoot.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl { background-position: -36px -4px; }
#FRoot.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl { background-position: -4px -4px; }
#FRoot.jstree-default .jstree-disabled { background: 0 0; }
#FRoot.jstree-default .jstree-disabled.jstree-hovered { background: 0 0; }
#FRoot.jstree-default .jstree-disabled.jstree-clicked { background: #efefef; }
#FRoot.jstree-default .jstree-checkbox { background-position: -164px -4px; }
#FRoot.jstree-default .jstree-checkbox:hover { background-position: -164px -36px; }
.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox, .jstree-default .jstree-checked > .jstree-checkbox { background-position: -228px -4px; }
.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover, #FRoot.jstree-default .jstree-checked > .jstree-checkbox:hover { background-position: -228px -36px; }
#FRoot.jstree-default .jstree-anchor > .jstree-undetermined { background-position: -196px -4px; }
#FRoot.jstree-default .jstree-anchor > .jstree-undetermined:hover { background-position: -196px -36px; }
#FRoot.jstree-default .jstree-checkbox-disabled { opacity: .8; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale"); filter: gray; -webkit-filter: grayscale(100%); }
#FRoot.jstree-default > .jstree-striped { background-size: auto 48px; }
.jstree-default.jstree-rtl .jstree-node { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==); background-position: 100% 1px; background-repeat: repeat-y; }
.jstree-default.jstree-rtl .jstree-last { background: 0 0; }
.jstree-default.jstree-rtl .jstree-open > .jstree-ocl { background-position: -132px -36px; }
.jstree-default.jstree-rtl .jstree-closed > .jstree-ocl { background-position: -100px -36px; }
.jstree-default.jstree-rtl .jstree-leaf > .jstree-ocl { background-position: -68px -36px; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-node, .jstree-default.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl { background: 0 0; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl { background-position: -36px -36px; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl { background-position: -4px -36px; }
#FRoot.jstree-default .jstree-themeicon-custom { background-color: transparent; background-image: none; background-position: 0 0; }
#FRoot.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl { background: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/throbber.gif) center center no-repeat; }
#FRoot.jstree-default .jstree-file { background: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/32px.png) -100px -68px no-repeat; }
#FRoot.jstree-default .jstree-folder { background: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/32px.png) -260px -4px no-repeat; }
#FRoot.jstree-default > .jstree-container-ul > .jstree-node { margin-left: 0; margin-right: 0; }
#jstree-dnd.jstree-default { line-height: 24px; padding: 0 4px; }
#jstree-dnd.jstree-default .jstree-ok, #jstree-dnd.jstree-default .jstree-er { background-image: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/32px.png); background-repeat: no-repeat; background-color: transparent; }
#jstree-dnd.jstree-default i { background: 0 0; width: 24px; height: 24px; line-height: 24px; }
#jstree-dnd.jstree-default .jstree-ok { background-position: -4px -68px; }
#jstree-dnd.jstree-default .jstree-er { background-position: -36px -68px; }
#FRoot.jstree-default .jstree-ellipsis { overflow: hidden; }
#FRoot.jstree-default .jstree-ellipsis .jstree-anchor { width: calc(100% - 29px); text-overflow: ellipsis; overflow: hidden; }
#FRoot.jstree-default .jstree-ellipsis.jstree-no-icons .jstree-anchor { width: calc(100% - 5px); }
.jstree-default.jstree-rtl .jstree-node { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==); }
.jstree-default.jstree-rtl .jstree-last { background: 0 0; }

#_list{ width: 603px;height: 380px}
#file-view{ padding: 0;overflow: hidden}
#Fcontent, #FSlideBar { background: #fff; }
#Fcontent { width: auto !important; }
#fm-container-dialog { padding: 0; }
#fm-container-dialog .ui-dialog .ui-dialog-titlebar { padding: 0; }
#create-folder .content { padding: 6px; }
#create-folder .content input[type=text] { width: 100%; }
#create-folder .content input, #create-folder .content button { border: 1px solid #a9a9a9; margin: 4px 0; background: #fff; }
#create-folder .content button { margin-top: 20px; text-align: right; }
#create-folder .content button:last-child { margin-left: 20px; }
#create-folder .content nav { text-align: right; }
.fm-container * { font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; box-sizing: content-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: content-box; }
.vakata-context li > a { font-family: Oxygen,Lucida Sans Unicode,Lucida Grande,sans-serif; }
.vakata-context.jstree-contextmenu.jstree-default-contextmenu a { font-size: 12px; }
.fm-container { background-color: #ffffff; overflow: hidden; }
#fm-content { height: 400px !important; }

.plupload_scroll .plupload_filelist { height: 172px !important; }
.plupload_filelist_footer { padding: 6px 20px; }
.plupload_filelist:empty, .plupload_filelist li.plupload_droptext { height: 140px; }

.plupload_filelist:empty::before, .plupload_filelist li.plupload_droptext::before { font-size: 52px; height: 75px; left: 49%; margin-left: -40px; padding-top: 43px; }
@import url('https://fonts.googleapis.com/css?family=Oxygen');

.fm-container * { font-family: Oxygen, Lucida Sans Unicode, Lucida Grande, sans-serif; }

.fm-container { background-color: #3F3F3B; }

.fm-container .fm-header { padding-top: 4px; }
.fm-container .fm-header .breadcrumbs { color: #fff; }

.fm-container .fm-splitter .splitter-bar-vertical { width: 10px; }

.fm-container .fm-filetree { border: none; color: #e0e0e0; background-color: #777777; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.fm-container .fm-fileinfo { border: none; background-color: #E5E5E5; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.fm-container .fm-fileinfo h1 { color: #444; }

.fm-container .fm-preview .fm-preview-details td { color: #333; border-bottom: 1px dotted #efefef; }


.fm-container button:hover { background-color: #C3D2F7; }

.fm-container #filepath { -webkit-border-top-left-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-bottomleft: 2px; border-top-left-radius: 2px; border-bottom-left-radius: 2px; }

.fm-container #folder-info { color: #bbb; }

.fm-container #summary { background: url(../../Libs/Images/summary.png) no-repeat center center; }

.fm-container #link-to-project { background: transparent url(../Libs/Images/fmlogo.png) no-repeat 0 0; }

.fm-container .search-box input { background-color: #3F3F3B; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.fm-container .search-box input:focus { background-color: #C6C6C6; }

.fm-container .view-items .grid li { width: 140px; -webkit-transition: background 0.3s linear; -moz-transition: background 0.3s linear; -o-transition: background 0.3s linear; transition: background 0.3s linear; }

.fm-container .view-items .grid li.drop-hover,
.fm-container .view-items .list tr.drop-hover { background-color: #a3a39f; }

.fm-container .view-items .list td { border-bottom: 1px dotted #efefef; }

.fm-popup.alertify .fm-fileupload-container #total-progress { background-color: #A1ADE2; }

.fm-popup.alertify .fm-fileupload-container #total-progress .progress-bar { background-color: #333; }

.fm-container .drag-helper-grid { width: 196px; -webkit-transition: background 0.3s linear; -moz-transition: background 0.3s linear; -o-transition: background 0.3s linear; transition: background 0.3s linear; }
.fm-container .fm-header { display: block; text-align: right; height: auto; min-height: 30px; overflow: hidden; }

.fm-container .fm-header .breadcrumbs { display: block; float: left; padding: 0.2em 0 0 1em; line-height: 1.5em; font-size: 0.9em; font-weight: bold; }

.fm-container .fm-header .breadcrumbs * { float: left; }

.fm-container .fm-header .breadcrumbs .separator { color: #999999; margin: 0 5px; }

.fm-container .fm-header .breadcrumbs .nav-title { margin-right: 10px; }

.fm-container .fm-header .breadcrumbs .nav-item:not(.active) { cursor: pointer; }

.fm-container .fm-header .breadcrumbs .nav-item.root { width: 20px; height: 20px; background-image: url(../Libs/Images/house.png); background-size: 20px; }

.fm-container .fm-header .buttons-panel { float: right; margin-bottom: 0.5em; }

.fm-container .fm-header .button-group { display: inline-block; margin: 0; padding: 0; }

.fm-container .fm-header .button-group button { cursor: pointer; padding: 2px 3px; margin: 0 1px; }

.fm-container .fm-header .button-group button.separator { width: 2px; padding-left: 0; padding-right: 0; margin: 1px 5px 0; border: none; cursor: default; }

.fm-container button {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  color: #777777;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 1px 4px;
  margin: 4px 3px;
  border-radius: 2px
}

.fm-container button:hover { background-color: #ffffff; }

.fm-container .fm-header button span,
.fm-container .fm-fileinfo button span { display: block; padding-left: 20px; background-position: left center; background-repeat: no-repeat; background-color: transparent; white-space: nowrap; }

.fm-container button:active,
.fm-container button:focus { color: #000; outline-color: transparent; outline-style: none; outline-width: 0; }

.fm-container .fm-header button.no-label span { background-position: center center; }

.fm-container .fm-header button.active { background: none repeat scroll 0 0 #F9F8F7; border-style: inset; }

.fm-container .fm-header .fm-btn-home span { background-image: url(../Libs/Images/house.png); }

.fm-container .fm-header .fm-btn-level-up span { background-image: url(../Libs/Images/level-up.png); }

.fm-container .fm-header .fm-btn-grid span { background-image: url(../Libs/Images/application_view_icons.png); }

.fm-container .fm-header .fm-btn-list span { background-image: url(../Libs/Images/application_view_list.png); }

.fm-container .fm-header .fm-btn-create-folder span { background-image: url(../Libs/Images/folder_add.png); }




.fm-container .fm-splitter { height: 400px; /* no padding allowed */ }

.fm-container .fm-splitter .splitter-bar-vertical { width: 6px; background: url(../Libs/Images/vgrabber.gif) no-repeat center; }

.fm-container .fm-splitter > * { /* to override height defined by splitter */ height: 100% !important; }

.fm-container .fm-filetree { overflow-y: auto; overflow-x: auto; color: #333; margin: 0; padding: 5px 0 0 5px; }

.fm-container .fm-filetree li { padding: 0; margin: 0; font-size: 0; list-style: none; line-height: 14px; text-align: left; white-space: nowrap; outline: 0; }

.fm-container .fm-filetree li ul { margin: 0; padding: 0 0 0 18px; }

.fm-container .fm-filetree li ul.line { background: url(../Libs/Images/filetree/line_conn.gif) 0 0 repeat-y; }

.fm-container .fm-filetree li a { font-size: 12px; padding: 1px 3px 0 0; margin: 0; cursor: pointer; height: 17px; background-color: transparent; text-decoration: none; vertical-align: top; display: inline-block; }

.fm-container .fm-filetree li a:hover { background-color: #55767F; text-decoration: none; }

.fm-container .fm-filetree li a.curSelectedNode { padding-top: 0; background-color: #FFE6B0; color: black; height: 16px; border: 1px #FFB951 solid; opacity: 0.8; }

.fm-container .fm-filetree li a.drop-hover { padding-top: 0; background-color: #316AC5; color: white; height: 16px; border: 1px #316AC5 solid; opacity: 0.8; filter: alpha(opacity=80); }

.fm-container .fm-filetree li span { line-height: 16px; }

.fm-container .fm-filetree li span.button { line-height: 0; margin: 0; width: 16px; height: 16px; display: inline-block; vertical-align: middle; border: 0 none; cursor: pointer; outline: none; background-color: transparent; background-repeat: no-repeat; background-attachment: scroll; background-image: url("../Libs/Images/filetree/preset.png"); *background-image: url("../Libs/Images/filetree/preset.gif"); }

.fm-container .fm-filetree li span.button.switch { width: 18px; height: 18px; }
.fm-container .fm-filetree li span.button.root_open { background-position: -92px -54px; }
.fm-container .fm-filetree li span.button.root_close { background-position: -74px -54px; }
.fm-container .fm-filetree li span.button.roots_open { background-position: -92px 0; }
.fm-container .fm-filetree li span.button.roots_close { background-position: -74px 0; }
.fm-container .fm-filetree li span.button.center_open { background-position: -92px -18px; }
.fm-container .fm-filetree li span.button.center_close { background-position: -74px -18px; }
.fm-container .fm-filetree li span.button.bottom_open { background-position: -92px -36px; }
.fm-container .fm-filetree li span.button.bottom_close { background-position: -74px -36px; }
.fm-container .fm-filetree li span.button.noline_open { background-position: -92px -72px; }
.fm-container .fm-filetree li span.button.noline_close { background-position: -74px -72px; }
.fm-container .fm-filetree li span.button.root_docu { background: none; }
.fm-container .fm-filetree li span.button.roots_docu { background-position: -56px 0; }
.fm-container .fm-filetree li span.button.center_docu { background-position: -56px -18px; }
.fm-container .fm-filetree li span.button.bottom_docu { background-position: -56px -36px; }
.fm-container .fm-filetree li span.button.noline_docu { background: none; }

.fm-container .fm-fileinfo { overflow-y: auto; overflow-x: hidden; box-sizing: border-box; border: 1px solid #dcdcdc; text-align: center; color: #333; padding: 0; margin: 0; }

.fm-container .fm-fileinfo * { font-size: 12px; }

.fm-container .fm-fileinfo .fm-loading-view { width: 30px; height: 30px; margin: 100px auto 0; background: url(../Libs/Images/spinner.gif) no-repeat center center; }

.fm-container .fm-fileinfo #main-title { margin: 10px auto; }

.fm-container .fm-fileinfo h1 { font-size: 20px; display: inline-block; color: #8fabc6; }

.fm-container .fm-fileinfo > h1 { margin-top: 3em; }

.fm-container div#tools { display: inline-block; margin-left: 1em; }

.fm-container .fm-preview { width: 100%; }

.fm-container .fm-preview .fm-preview-viewer { margin: 25px; }

.fm-container .fm-preview .fm-preview-viewer img { max-width: 80%; }

.fm-container .fm-preview .fm-preview-details { width: 400px; margin: 20px auto; }

.fm-container .fm-preview .fm-preview-details table { width: 100%; }

.fm-container .fm-preview .fm-preview-details td { width: 50%; padding: 4px; text-align: left; border-bottom: 1px dotted #ccc; }

.fm-container .fm-preview .fm-preview-details td:nth-child(2) { font-weight: bold; }

.fm-container .fm-preview .fm-preview-toolbar { margin-top: 30px; }

.fm-container .fm-preview .fm-preview-toolbar button { cursor: pointer; }


/** Input file Replacement */

.fm-container input,
.fm-container button { vertical-align: text-top; }

.fm-container #file-input-container { display: inline; margin: 0; position: relative; top: 0; width: 255px; height: 32px; overflow: hidden; }

.fm-container #newfile { position: absolute; top: 0; right: 0; height: 28px; width: 100%; opacity: 0; filter: alpha(opacity=0); cursor: pointer; border: 1px solid blue; }

.fm-container .hidden-file-input { display: inline-block; overflow: hidden; visibility: hidden; width: 1px; z-index: -1; }

.fm-container #alt-fileinput { display: inline; }

.fm-container #filepath { margin: 0; padding: 0 5px; line-height: 26px; background-color: #F4F1ED; border: 1px solid #dcdcdc; }

.fm-container button#browse { margin-left: 0; -webkit-border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; min-height: 16px; min-width: 40px; }
.fm-container button#browse span { margin: 0; padding: 0; background: url(../Libs/Images/plus.png) no-repeat center center; display: block; color: #666; text-shadow: none; }
/** Input file Replacement - end */

.fm-container .fm-footer .right { float: right; }

.fm-container .fm-footer .left { float: left; }

.fm-container #folder-info { display: inline-block; }

.fm-container #folder-info { font-size: 0.8em; color: #777; padding: 1.3em 0.5em 0 1.3em; }

.fm-container #summary { width: 16px; height: 16px; display: inline-block; background: url(../Libs/Images/summary.png) no-repeat center center; cursor: pointer; }

.fm-container #link-to-project { height: 12px; width: 45px; display: inline-block; background: transparent url(../Libs/Images/fmlogo.png) no-repeat 0 0; margin: 1em 1em 0 1em; }

.fm-container .search-box { position: absolute; }

.fm-container .search-box input { background-color: #ffffff; border: 1px solid #dcdcdc; line-height: 21px; margin: 3px 0 3px 3px; width: 184px; }

.fm-container .search-box input:focus { background-color: #ffffff; }

.fm-container .search-box .search-box-reset { position: absolute; width: 16px; height: 16px; background: url(../Libs/Images/reset.png) no-repeat center center; opacity: 0.5; right: 6px; top: 9px; cursor: pointer; }

/* to expand selectable area to 100% vertically */
.fm-container .fm-fileinfo .mCSB_container.mCS_no_scrollbar_y { height: 100%; }
.fm-container .view-items { height: 100%; }

.fm-container .view-items .grid { padding: 15px; text-align: left; }

.fm-container .view-items .grid li { display: inline-block; width: 89px; height: 100px; text-align: center; overflow: hidden; margin: 10px; border: 1px solid white; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.fm-container .view-items .grid li:hover { cursor: pointer; }

.fm-container .view-items .grid li:hover:not(.ui-selected) { border: 1px solid #E5E5E5; background-color: #F7F7F7; }

.fm-container .view-items .grid .item-content { height: 100%; overflow: hidden; }

.fm-container .view-items .grid .item-content .clip { width: 64px; height: 64px; margin: 5px auto; overflow: hidden; }

.fm-container .view-items .grid li.drop-hover,
.fm-container .view-items .list tr.drop-hover { background-color: #e0e0e0; }

.fm-container .view-items .list tbody tr:hover { cursor: pointer; }

.fm-container .view-items .list tbody tr:hover:not(.ui-selected) { background-color: #eee; }

.fm-container .view-items .grid p { display: block; text-align: center; margin-bottom: 10px; white-space: nowrap; font-size: 11px; }

.fm-container .view-items .list { width: 100%; }

.fm-container .view-items .list th { padding: 6px; text-align: center; white-space: nowrap; }

.fm-container .view-items .list thead { background: rgb(244,241,237); /* Old browsers */ background: -moz-linear-gradient(top, rgba(244,241,237,1) 0%, rgba(214,212,209,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,237,1)), color-stop(100%,rgba(214,212,209,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* W3C */ border-bottom: 1px solid #ccc; }

.fm-container .view-items .list th { font-weight: bold; cursor: pointer; }

.fm-container .view-items .list th.sorted-asc,
.fm-container .view-items .list th.sorted-desc { background: rgb(214,212,209); /* Old browsers */ background: -moz-linear-gradient(top, rgba(214,212,209,1) 0%, rgba(244,241,237,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,212,209,1)), color-stop(100%,rgba(244,241,237,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* W3C */ }

.fm-container .view-items .list th.sorted-asc span { display: block; width: 100%; margin-right: 20px; background-image: url(../Libs/Images/bullet_arrow_up.png); background-repeat: no-repeat; background-position: right center; }

.fm-container .view-items .list th.sorted-desc span { display: block; width: 100%; margin-right: 20px; background-image: url(../Libs/Images/bullet_arrow_down.png); background-repeat: no-repeat; background-position: right center; }

.fm-container .view-items .list td { padding: 4px; text-align: left; white-space: nowrap; vertical-align: middle; border-bottom: 1px dotted #ccc; }

.fm-container .view-items .list td:first-child { width: 100%; }

.fm-container .view-items .list .list-icon { display: inline-block; width: 16px; height: 16px; vertical-align: middle; background-repeat: no-repeat; background-position: center; }

.fm-container .context-menu-list { min-width: 150px; background-color: #F4F1ED; }

.fm-container .context-menu-item { font-size: 11px; margin: 2px 0; background-color: #F4F1ED; }

.fm-container .context-menu-item:before { content: " "; position: absolute; width: 16px; height: 16px; left: 6px; top: 0; }

.fm-container .context-menu-item.context-menu-hover { background-color: #BDF; }

.fm-container .context-menu-item.context-menu-disabled { opacity: 0.6; color: inherit; background-color: inherit; }

/* these apply to the context menus as well as the buttons */
.fm-container #select span,
.fm-container .context-menu-item.select:before { background-image: url(../Libs/Images/accept.png); }
.fm-container #download span,
.fm-container .context-menu-item.download:before { background-image: url(../Libs/Images/download.png); }
.fm-container #rename span,
.fm-container .context-menu-item.rename:before { background-image: url(../Libs/Images/tag.png); }
.fm-container #move span,
.fm-container .context-menu-item.move:before { background-image: url(../Libs/Images/move.png); }
.fm-container #replace span,
.fm-container .context-menu-item.replace:before { background-image: url(../Libs/Images/replace.png); }
.fm-container #delete span,
.fm-container .context-menu-item.delete:before { background-image: url(../Libs/Images/bin_closed.png); }
.fm-container .context-menu-item.create-folder:before { background-image: url(../Libs/Images/folder_add.png); }

.fm-container #clipboard-cut span,
.fm-container .context-menu-item.cut:before { background-image: url(../Libs/Images/clipboard_cut.png); background-position: center; }
.fm-container #clipboard-copy span,
.fm-container .context-menu-item.copy:before { background-image: url(../Libs/Images/clipboard_copy.png); background-position: center; }
.fm-container #clipboard-paste span,
.fm-container .context-menu-item.paste:before { background-image: url(../Libs/Images/clipboard_paste.png); background-position: center; }
.fm-container #clipboard-clear span { background-image: url(../Libs/Images/clipboard_clear.png); background-position: center; }

.fm-container .fm-upload span { background-image: url(../Libs/Images/upload.png); }
.fm-container .fm-upload.loading span { background-image: url(../Libs/Images/ajax-loader.gif); color: #555555; font-size: 0.9em; }
.fm-container #parentfolder span { background-image: url(../Libs/Images/parentfolder.png); }


.fm-container .fm-preview .fm-btn-edit-file { display: inline-block; background: url(../Libs/Images/edit.png) no-repeat center center; width: 20px; height: 18px; margin: 0 0.2em; }

.fm-container .fm-preview .fm-btn-clipboard { display: inline-block; background: url(../Libs/Images/copy.png) no-repeat center center; width: 20px; height: 18px; margin: 0 0.2em; }

.fm-container .fm-preview .fm-preview-editor button { color: black; }

.fm-container .fm-preview .fm-preview-editor div.CodeMirror { text-align: left; width: 70%; border: 1px solid #eee; height: auto; margin: 2em auto; }

.fm-container .fm-preview .fm-preview-editor div.CodeMirror * { font-family: monospace; line-height: 15px; }

.fm-container .fm-preview div.CodeMirror.CodeMirror-fullscreen { width: 100%; margin: 0; z-index: 9; }


/* IE10-11 styles */
html[data-useragent*='MSIE 10.0'] .fm-container .fm-header button,
html[data-useragent*='MSIE 11.0'] .fm-container .fm-header button { vertical-align: top; }
html[data-useragent*='MSIE 10.0'] .fm-container #file-input-container,
html[data-useragent*='MSIE 11.0'] .fm-container #file-input-container { width: 220px; height: 32px; overflow: hidden; }
html[data-useragent*='MSIE 10.0'] .fm-container #filepath,
html[data-useragent*='MSIE 11.0'] .fm-container #filepath { height: 22px; }
html[data-useragent*='MSIE 10.0'] .fm-container #newfile,
html[data-useragent*='MSIE 11.0'] .fm-container #newfile { height: 23px; }


/** Drag & Drop **/

.fm-container .drag-helper-list { white-space: nowrap; }

.fm-container .drag-helper-list .list-icon { display: inline-block; width: 16px; height: 16px; vertical-align: middle; background-repeat: no-repeat; background-position: center; }

.fm-container .drag-helper-grid { display: inline-block; width: 142px; height: 142px; text-align: center; overflow: hidden; margin: 10px; border: 1px solid white; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.fm-container .drag-helper-grid .clip { width: 64px; height: 64px; margin: 10px auto; overflow: hidden; }

.fm-container .drag-helper-grid .item-content { height: 100%; overflow: hidden; z-index: 1; opacity: 0.7; }

.fm-container .drag-helper-grid .item-background { position: absolute; width: 100%; height: 100%; background-color: #B6CDEC; opacity: 0.5; z-index: 1; }

.fm-container .drag-helper-grid .dragging-counter { position: absolute; top: 35px; width: 100%; text-align: center; z-index: 2; }

.fm-container .drag-helper-grid .dragging-counter span { display: inline-block; margin-left: 10px; padding: 0.2em 0.4em; background-color: #4e68e7; border: 1px solid #FFF; border-radius: 5px; font-size: 15px !important; color: #FFF; }

.fm-container .drag-helper-grid .dragging-stop { display: none; position: absolute; bottom: 10px; width: 100%; margin: 0; z-index: 2; }

.fm-container .drag-helper-grid .dragging-stop .cancel-image { width: 25px; height: 25px; margin: 0 auto; background: url(../Libs/Images/fileicons/drag-n-drop/cancel-5.png) center center no-repeat; background-size: cover; }

.fm-container .drag-helper-grid.drop-restricted .dragging-stop { display: block; }

.fm-container .drag-helper-list .list-line { display: inline-block; text-align: left; white-space: nowrap; }


/** Selectable items **/

.fm-container .ui-selectable-helper { position: absolute; border: 1px dotted black; z-index: 100; }

.fm-container .view-items .ui-selecting { background-color: #CED9E9; }

.fm-container .view-items .ui-selected { background-color: #CED9E9; }


/** Modal dialog by Alertify plugin */

.fm-popup.alertify,
.fm-log.alertify-logs { font-family: Oxygen, Lucida Sans Unicode, Lucida Grande, sans-serif; }

.fm-log.alertify-logs { position: absolute; font-size: 13px; line-height: 13px; }

.fm-popup.alertify .alert,
.fm-popup.alertify .dialog { text-align: center; font-size: 12px; }

.fm-popup.alertify .alert > *,
.fm-popup.alertify .dialog > * { width: auto; display: inline-block; }

.fm-popup.alertify .alert [data-alertify-btn-holder] [data-alertify-btn]:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button),
.fm-popup.alertify .dialog [data-alertify-btn-holder] [data-alertify-btn]:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) { font-size: 13px; line-height: 32px; min-height: 32px; }

.fm-popup.alertify div.prompt-info { line-height: 12px; min-height: 15px; margin-top: 5px; padding-left: 25px; color: #444; background: transparent url(../Libs/Images/info.png) no-repeat 0 0; background-position: left center; }

.fm-popup.alertify .fm-fileupload-container { width: auto; min-width: 200px; max-width: 825px; }

.fm-popup.alertify .fm-fileupload-container h2 { font-size: 1.2em; font-weight: bold; }

.fm-popup.alertify .fm-fileupload-container #total-progress { width: 100%; height: 5px; margin-bottom: 10px; background-color: #A7A1C6; overflow: hidden; }

.fm-popup.alertify .fm-fileupload-container #total-progress .progress-bar { height: 5px; background-color: #294750; }

.fm-popup.alertify #summary-popup { font-size: 1.2em; }

.fm-popup.alertify #summary-popup .title { font-weight: bold; margin-bottom: 0.8em; }

.fm-popup.alertify #summary-popup .line { line-height: 1.4em; }

#fm-js-btn-close { margin-top: 5px; display: block; width: 100%; font-variant: small-caps; padding: 0.5em; }


/** ICONS - List view and File tree related styles **/

.fm-fileinfo .list-icon.ico_folder,
.fm-filetree li span.button.ico_folder { background: url(../Libs/Images/filetree/folder.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_folder_lock,
.fm-filetree li span.button.ico_folder_lock { background: url(../Libs/Images/filetree/folder_lock.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_folder_open,
.fm-filetree li span.button.ico_folder_open { background: url(../Libs/Images/filetree/folder_open.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_file,
.fm-filetree li span.button.ico_file { background: url(../Libs/Images/filetree/file.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_file_lock,
.fm-filetree li span.button.ico_file_lock { background: url(../Libs/Images/filetree/file_lock.png) left top no-repeat !important; }

.fm-fileinfo .list-icon.ico_loading,
.fm-filetree li span.button.ico_loading { background: url(../Libs/Images/filetree/loading.gif) left top no-repeat; }


/** ICONS - List view and File tree related styles based on file extension **/

.fm-fileinfo .list-icon.ico_ext_3g2,
.fm-filetree li span.button.ico_ext_3g2 { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_3gp,
.fm-filetree li span.button.ico_ext_3gp { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_7z,
.fm-filetree li span.button.ico_ext_7z { background: url(../Libs/Images/filetree/zip.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_afp,
.fm-filetree li span.button.ico_ext_afp { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_afpa,
.fm-filetree li span.button.ico_ext_afpa { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_asp,
.fm-filetree li span.button.ico_ext_asp { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_aspx,
.fm-filetree li span.button.ico_ext_aspx { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_avi,
.fm-filetree li span.button.ico_ext_avi { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_bat,
.fm-filetree li span.button.ico_ext_bat { background: url(../Libs/Images/filetree/application.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_bmp,
.fm-filetree li span.button.ico_ext_bmp { background: url(../Libs/Images/filetree/picture.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_c,
.fm-filetree li span.button.ico_ext_c { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_cfm,
.fm-filetree li span.button.ico_ext_cfm { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_cgi,
.fm-filetree li span.button.ico_ext_cgi { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_com,
.fm-filetree li span.button.ico_ext_com { background: url(../Libs/Images/filetree/application.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_cpp,
.fm-filetree li span.button.ico_ext_cpp { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_css,
.fm-filetree li span.button.ico_ext_css { background: url(../Libs/Images/filetree/css.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_csv,
.fm-filetree li span.button.ico_ext_csv { background: url(../Libs/Images/filetree/txt.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_doc,
.fm-filetree li span.button.ico_ext_doc { background: url(../Libs/Images/filetree/doc.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_docx,
.fm-filetree li span.button.ico_ext_docx { background: url(../Libs/Images/filetree/doc.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_exe,
.fm-filetree li span.button.ico_ext_exe { background: url(../Libs/Images/filetree/application.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_gif,
.fm-filetree li span.button.ico_ext_gif { background: url(../Libs/Images/filetree/picture.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_f4v,
.fm-filetree li span.button.ico_ext_f4v { background: url(../Libs/Images/filetree/flash.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_fla,
.fm-filetree li span.button.ico_ext_fla { background: url(../Libs/Images/filetree/flash.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_flv,
.fm-filetree li span.button.ico_ext_flv { background: url(../Libs/Images/filetree/flash.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_h,
.fm-filetree li span.button.ico_ext_h { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_htm,
.fm-filetree li span.button.ico_ext_htm { background: url(../Libs/Images/filetree/html.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_html,
.fm-filetree li span.button.ico_ext_html { background: url(../Libs/Images/filetree/html.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_jar,
.fm-filetree li span.button.ico_ext_jar { background: url(../Libs/Images/filetree/java.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_jpg,
.fm-filetree li span.button.ico_ext_jpg { background: url(../Libs/Images/filetree/picture.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_jpeg,
.fm-filetree li span.button.ico_ext_jpeg { background: url(../Libs/Images/filetree/picture.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_js,
.fm-filetree li span.button.ico_ext_js { background: url(../Libs/Images/filetree/script.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_lasso,
.fm-filetree li span.button.ico_ext_lasso { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_log,
.fm-filetree li span.button.ico_ext_log { background: url(../Libs/Images/filetree/txt.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_m4p,
.fm-filetree li span.button.ico_ext_m4p { background: url(../Libs/Images/filetree/music.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_m4v,
.fm-filetree li span.button.ico_ext_m4v { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_mov,
.fm-filetree li span.button.ico_ext_mov { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_mp3,
.fm-filetree li span.button.ico_ext_mp3 { background: url(../Libs/Images/filetree/music.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_mp4,
.fm-filetree li span.button.ico_ext_mp4 { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_mpg,
.fm-filetree li span.button.ico_ext_mpg { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_mpeg,
.fm-filetree li span.button.ico_ext_mpeg { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_odp,
.fm-filetree li span.button.ico_ext_odp { background: url(../Libs/Images/filetree/ppt.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_ods,
.fm-filetree li span.button.ico_ext_ods { background: url(../Libs/Images/filetree/xls.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_odt,
.fm-filetree li span.button.ico_ext_odt { background: url(../Libs/Images/filetree/doc.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_ogv,
.fm-filetree li span.button.ico_ext_ogv { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_ogg,
.fm-filetree li span.button.ico_ext_ogg { background: url(../Libs/Images/filetree/music.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_pcx,
.fm-filetree li span.button.ico_ext_pcx { background: url(../Libs/Images/filetree/picture.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_pdf,
.fm-filetree li span.button.ico_ext_pdf { background: url(../Libs/Images/filetree/pdf.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_php,
.fm-filetree li span.button.ico_ext_php { background: url(../Libs/Images/filetree/php.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_png,
.fm-filetree li span.button.ico_ext_png { background: url(../Libs/Images/filetree/picture.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_ppt,
.fm-filetree li span.button.ico_ext_ppt { background: url(../Libs/Images/filetree/ppt.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_pptx,
.fm-filetree li span.button.ico_ext_pptx { background: url(../Libs/Images/filetree/ppt.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_psd,
.fm-filetree li span.button.ico_ext_psd { background: url(../Libs/Images/filetree/psd.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_pl,
.fm-filetree li span.button.ico_ext_pl { background: url(../Libs/Images/filetree/script.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_py,
.fm-filetree li span.button.ico_ext_py { background: url(../Libs/Images/filetree/script.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_rar,
.fm-filetree li span.button.ico_ext_rar { background: url(../Libs/Images/filetree/zip.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_rb,
.fm-filetree li span.button.ico_ext_rb { background: url(../Libs/Images/filetree/ruby.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_rbx,
.fm-filetree li span.button.ico_ext_rbx { background: url(../Libs/Images/filetree/ruby.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_rhtml,
.fm-filetree li span.button.ico_ext_rhtml { background: url(../Libs/Images/filetree/ruby.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_rpm,
.fm-filetree li span.button.ico_ext_rpm { background: url(../Libs/Images/filetree/linux.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_ruby,
.fm-filetree li span.button.ico_ext_ruby { background: url(../Libs/Images/filetree/ruby.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_sql,
.fm-filetree li span.button.ico_ext_sql { background: url(../Libs/Images/filetree/db.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_swf,
.fm-filetree li span.button.ico_ext_swf { background: url(../Libs/Images/filetree/flash.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_tar,
.fm-filetree li span.button.ico_ext_tar { background: url(../Libs/Images/filetree/zip.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_tif,
.fm-filetree li span.button.ico_ext_tif { background: url(../Libs/Images/filetree/picture.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_tiff,
.fm-filetree li span.button.ico_ext_tiff { background: url(../Libs/Images/filetree/picture.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_txt,
.fm-filetree li span.button.ico_ext_txt { background: url(../Libs/Images/filetree/txt.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_vb,
.fm-filetree li span.button.ico_ext_vb { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_wav,
.fm-filetree li span.button.ico_ext_wav { background: url(../Libs/Images/filetree/music.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_weba,
.fm-filetree li span.button.ico_ext_weba { background: url(../Libs/Images/filetree/music.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_webm,
.fm-filetree li span.button.ico_ext_webm { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_wmv,
.fm-filetree li span.button.ico_ext_wmv { background: url(../Libs/Images/filetree/film.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_xls,
.fm-filetree li span.button.ico_ext_xls { background: url(../Libs/Images/filetree/xls.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_xlsx,
.fm-filetree li span.button.ico_ext_xlsx { background: url(../Libs/Images/filetree/xls.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_xml,
.fm-filetree li span.button.ico_ext_xml { background: url(../Libs/Images/filetree/code.png) left top no-repeat; }

.fm-fileinfo .list-icon.ico_ext_zip,
.fm-filetree li span.button.ico_ext_zip { background: url(../Libs/Images/filetree/zip.png) left top no-repeat; }


/** ICONS - Grid view related styles **/

.fm-fileinfo .grid-icon { display: block; margin: 0 auto; overflow: hidden; text-indent: -200%; background-size: cover; background-repeat: no-repeat; background-position: center center; }

.fm-fileinfo .grid-icon { width: 64px; height: 64px; }

.fm-fileinfo .fm-preview .grid-icon { width: 128px; height: 128px; }

.fm-fileinfo .grid-icon.ico_file { background-image: url(../Libs/Images/fileicons/icon_file.png); }

.fm-fileinfo .grid-icon.ico_file_lock { background-image: url(../Libs/Images/fileicons/icon_file_lock.png); }

.fm-fileinfo .grid-icon.ico_folder { background-image: url(../Libs/Images/fileicons/icon_folder.png); }

.fm-fileinfo .grid-icon.ico_folder_lock { background-image: url(../Libs/Images/fileicons/icon_folder_lock.png); }

.fm-fileinfo .grid-icon.ico_folder_parent { background-image: url(../Libs/Images/fileicons/icon_folder_parent.png); }

.fm-fileinfo .grid-icon.ico_multiple { background-image: url(../Libs/Images/fileicons/icon_multiple.png); }


/** ICONS - Grid view related styles based on file extension **/

.fm-fileinfo .grid-icon.ico_ext_3g2 { background-image: url(../Libs/Images/fileicons/icon_movie.png); }

.fm-fileinfo .grid-icon.ico_ext_3gp { background-image: url(../Libs/Images/fileicons/icon_movie.png); }

.fm-fileinfo .grid-icon.ico_ext_7z { background-image: url(../Libs/Images/fileicons/icon_zip.png); }

.fm-fileinfo .grid-icon.ico_ext_aac { background-image: url(../Libs/Images/fileicons/icon_aac.png); }

.fm-fileinfo .grid-icon.ico_ext_avi { background-image: url(../Libs/Images/fileicons/icon_avi.png); }

.fm-fileinfo .grid-icon.ico_ext_bmp { background-image: url(../Libs/Images/fileicons/icon_bmp.png); }

.fm-fileinfo .grid-icon.ico_ext_chm { background-image: url(../Libs/Images/fileicons/icon_chm.png); }

.fm-fileinfo .grid-icon.ico_ext_css { background-image: url(../Libs/Images/fileicons/icon_css.png); }

.fm-fileinfo .grid-icon.ico_ext_csv { background-image: url(../Libs/Images/fileicons/icon_txt.png); }

.fm-fileinfo .grid-icon.ico_ext_dll { background-image: url(../Libs/Images/fileicons/icon_dll.png); }

.fm-fileinfo .grid-icon.ico_ext_doc,
.fm-fileinfo .grid-icon.ico_ext_docx { background-image: url(../Libs/Images/fileicons/icon_doc.png); }

.fm-fileinfo .grid-icon.ico_ext_fla { background-image: url(../Libs/Images/fileicons/icon_fla.png); }

.fm-fileinfo .grid-icon.ico_ext_gif { background-image: url(../Libs/Images/fileicons/icon_gif.png); }

.fm-fileinfo .grid-icon.ico_ext_htm,
.fm-fileinfo .grid-icon.ico_ext_html { background-image: url(../Libs/Images/fileicons/icon_html.png); }

.fm-fileinfo .grid-icon.ico_ext_ini { background-image: url(../Libs/Images/fileicons/icon_ini.png); }

.fm-fileinfo .grid-icon.ico_ext_jar { background-image: url(../Libs/Images/fileicons/icon_jar.png); }

.fm-fileinfo .grid-icon.ico_ext_jpg,
.fm-fileinfo .grid-icon.ico_ext_jpeg { background-image: url(../Libs/Images/fileicons/icon_jpg.png); }

.fm-fileinfo .grid-icon.ico_ext_js { background-image: url(../Libs/Images/fileicons/icon_js.png); }

.fm-fileinfo .grid-icon.ico_ext_lasso { background-image: url(../Libs/Images/fileicons/icon_lasso.png); }

.fm-fileinfo .grid-icon.ico_ext_m4p { background-image: url(../Libs/Images/fileicons/icon_music.png); }

.fm-fileinfo .grid-icon.ico_ext_m4v { background-image: url(../Libs/Images/fileicons/icon_movie.png); }

.fm-fileinfo .grid-icon.ico_ext_mdb { background-image: url(../Libs/Images/fileicons/icon_mdb.png); }

.fm-fileinfo .grid-icon.ico_ext_mov { background-image: url(../Libs/Images/fileicons/icon_mov.png); }

.fm-fileinfo .grid-icon.ico_ext_mp3 { background-image: url(../Libs/Images/fileicons/icon_mp3.png); }

.fm-fileinfo .grid-icon.ico_ext_mp4 { background-image: url(../Libs/Images/fileicons/icon_movie.png); }

.fm-fileinfo .grid-icon.ico_ext_mpg { background-image: url(../Libs/Images/fileicons/icon_mpg.png); }

.fm-fileinfo .grid-icon.ico_ext_mpeg { background-image: url(../Libs/Images/fileicons/icon_movie.png); }

.fm-fileinfo .grid-icon.ico_ext_odp { background-image: url(../Libs/Images/fileicons/icon_odp.png); }

.fm-fileinfo .grid-icon.ico_ext_ods { background-image: url(../Libs/Images/fileicons/icon_ods.png); }

.fm-fileinfo .grid-icon.ico_ext_odt { background-image: url(../Libs/Images/fileicons/icon_odt.png); }

.fm-fileinfo .grid-icon.ico_ext_ogg { background-image: url(../Libs/Images/fileicons/icon_music.png); }

.fm-fileinfo .grid-icon.ico_ext_pcx { background-image: url(../Libs/Images/fileicons/icon_image.png); }

.fm-fileinfo .grid-icon.ico_ext_ogv { background-image: url(../Libs/Images/fileicons/icon_movie.png); }

.fm-fileinfo .grid-icon.ico_ext_pdf { background-image: url(../Libs/Images/fileicons/icon_pdf.png); }

.fm-fileinfo .grid-icon.ico_ext_php { background-image: url(../Libs/Images/fileicons/icon_php.png); }

.fm-fileinfo .grid-icon.ico_ext_png { background-image: url(../Libs/Images/fileicons/icon_png.png); }

.fm-fileinfo .grid-icon.ico_ext_ppt,
.fm-fileinfo .grid-icon.ico_ext_pptx { background-image: url(../Libs/Images/fileicons/icon_ppt.png); }

.fm-fileinfo .grid-icon.ico_ext_py { background-image: url(../Libs/Images/fileicons/icon_py.png); }

.fm-fileinfo .grid-icon.ico_ext_rar { background-image: url(../Libs/Images/fileicons/icon_zip.png); }

.fm-fileinfo .grid-icon.ico_ext_rb { background-image: url(../Libs/Images/fileicons/icon_rb.png); }

.fm-fileinfo .grid-icon.ico_ext_real { background-image: url(../Libs/Images/fileicons/icon_real.png); }

.fm-fileinfo .grid-icon.ico_ext_reg { background-image: url(../Libs/Images/fileicons/icon_reg.png); }

.fm-fileinfo .grid-icon.ico_ext_rtf { background-image: url(../Libs/Images/fileicons/icon_rtf.png); }

.fm-fileinfo .grid-icon.ico_ext_sql { background-image: url(../Libs/Images/fileicons/icon_sql.png); }

.fm-fileinfo .grid-icon.ico_ext_swf { background-image: url(../Libs/Images/fileicons/icon_swf.png); }

.fm-fileinfo .grid-icon.ico_ext_tar { background-image: url(../Libs/Images/fileicons/icon_zip.png); }

.fm-fileinfo .grid-icon.ico_ext_tif,
.fm-fileinfo .grid-icon.ico_ext_tiff { background-image: url(../Libs/Images/fileicons/icon_image.png); }

.fm-fileinfo .grid-icon.ico_ext_txt { background-image: url(../Libs/Images/fileicons/icon_txt.png); }

.fm-fileinfo .grid-icon.ico_ext_vbs { background-image: url(../Libs/Images/fileicons/icon_vbs.png); }

.fm-fileinfo .grid-icon.ico_ext_wav { background-image: url(../Libs/Images/fileicons/icon_wav.png); }

.fm-fileinfo .grid-icon.ico_ext_weba { background-image: url(../Libs/Images/fileicons/icon_music.png); }

.fm-fileinfo .grid-icon.ico_ext_webm { background-image: url(../Libs/Images/fileicons/icon_movie.png); }

.fm-fileinfo .grid-icon.ico_ext_wma { background-image: url(../Libs/Images/fileicons/icon_wma.png); }

.fm-fileinfo .grid-icon.ico_ext_wmv { background-image: url(../Libs/Images/fileicons/icon_wmv.png); }

.fm-fileinfo .grid-icon.ico_ext_xls,
.fm-fileinfo .grid-icon.ico_ext_xlsx { background-image: url(../Libs/Images/fileicons/icon_xls.png); }

.fm-fileinfo .grid-icon.ico_ext_xml { background-image: url(../Libs/Images/fileicons/icon_xml.png); }

.fm-fileinfo .grid-icon.ico_ext_xsl { background-image: url(../Libs/Images/fileicons/icon_xsl.png); }

.fm-fileinfo .grid-icon.ico_ext_zip { background-image: url(../Libs/Images/fileicons/icon_zip.png); }


/**/


.splitter { height-x: 400px; height-x: 50%; height: calc(100% - 180px); height: -moz-calc(100% - 180px); height: -webkit-calc(100% - 180px); }

.ui-state-default { background-color: #aca; }
.ui-state-hover { background-color: #bdb; }
.ui-state-highlight { background-color: #add; }
.ui-state-error { background-color: #eaa; }

.splitter-pane { overflow: auto; }
.splitter-bar-vertical { width: 6px; height-x: 100%; background-image: url(../Libs/Images/vgrabber.gif); background-repeat: no-repeat; background-position: center; }

.splitter-bar-vertical-docked { width: 10px; background-image: url(img/vdockbar-trans.gif); background-repeat: no-repeat; background-position: center; }
.splitter-bar.ui-state-highlight { opacity: 0.7; }
.splitter-iframe-hide { visibility: hidden; }


/*context menu*/


@-webkit-keyframes cm-spin {
    0% { -webkit-transform: translateY(-50%) rotate(0); transform: translateY(-50%) rotate(0); }
    100% { -webkit-transform: translateY(-50%) rotate(359deg); transform: translateY(-50%) rotate(359deg); }
}

@-o-keyframes cm-spin {
    0% { -webkit-transform: translateY(-50%) rotate(0); -o-transform: translateY(-50%) rotate(0); transform: translateY(-50%) rotate(0); }
    100% { -webkit-transform: translateY(-50%) rotate(359deg); -o-transform: translateY(-50%) rotate(359deg); transform: translateY(-50%) rotate(359deg); }
}

@keyframes cm-spin {
    0% { -webkit-transform: translateY(-50%) rotate(0); -o-transform: translateY(-50%) rotate(0); transform: translateY(-50%) rotate(0); }
    100% { -webkit-transform: translateY(-50%) rotate(359deg); -o-transform: translateY(-50%) rotate(359deg); transform: translateY(-50%) rotate(359deg); }
}

.context-menu-icon.context-menu-icon--fa::before, .context-menu-icon::before { left: 0; width: 2em; font-size: 1em; font-style: normal; font-weight: 400; line-height: 1; text-align: center; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: absolute; top: 50%; }
@font-face { font-family: context-menu-icons; font-style: normal; font-weight: 400; src: url(font/fontawesome-webfont.eot?3vjwq); src: url(font/fontawesome-webfont.eot?3vjwq#iefix) format("embedded-opentype"),url(font/fontawesome-webfont.woff2?3vjwq) format("woff2"),url(font/fontawesome-webfont.woff?3vjwq) format("woff"),url(font/fontawesome-webfont.ttf?3vjwq) format("truetype"); }
.context-menu-icon-add:before { content: "\EA01"; }
.context-menu-icon-copy:before { content: "\EA02"; }
.context-menu-icon-cut:before { content: "\f0c4"; }
.context-menu-icon-delete:before { content: "\f00d"; }
.context-menu-icon-edit:before { content: "\f044"; }
.context-menu-icon-loading:before { content: "\EA06"; }
.context-menu-icon-paste:before { content: "\EA07"; }
.context-menu-icon-quit:before { content: "\EA08"; }
.context-menu-icon-view:before { content: "\F06e"; }
.context-menu-icon-insert:before { content: "\f0a6"; }
.context-menu-icon::before { font-family: context-menu-icons; color: #2980b9; transform: translateY(-50%); }
.context-menu-icon.context-menu-hover:before { color: #fff; }
.context-menu-icon.context-menu-disabled::before { color: #bbb; }
.context-menu-icon.context-menu-icon-loading:before { -webkit-animation: cm-spin 2s infinite; -o-animation: cm-spin 2s infinite; animation: cm-spin 2s infinite; }
.context-menu-icon.context-menu-icon--fa { display: list-item; font-family: inherit; }
.context-menu-icon.context-menu-icon--fa::before { font-family: FontAwesome; color: #2980b9; transform: translateY(-50%); }
.context-menu-icon.context-menu-icon--fa.context-menu-hover:before { color: #fff; }
.context-menu-icon.context-menu-icon--fa.context-menu-disabled::before { color: #bbb; }
.context-menu-list { position: absolute; display: inline-block; min-width: 13em; max-width: 26em; padding: .25em 0; margin: .3em; font-family: inherit; font-size: inherit; list-style-type: none; background: #fff; border: 1px solid #bebebe; border-radius: .2em; -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5); box-shadow: 0 2px 5px rgba(0,0,0,.5); }
.context-menu-item { position: relative; padding: .2em 2em; color: #2f2f2f; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: #fff; }
.context-menu-separator { padding: 0; margin: .35em 0; border-bottom: 1px solid #e6e6e6; }
.context-menu-item > label > input, .context-menu-item > label > textarea { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }
.context-menu-item.context-menu-hover { color: #fff; cursor: pointer; background-color: #2980b9; }
.context-menu-item.context-menu-disabled { color: #bbb; cursor: default; background-color: #fff; }
.context-menu-input.context-menu-hover { color: #2f2f2f; cursor: default; }
.context-menu-submenu:after { position: absolute; top: 50%; right: .5em; z-index: 1; width: 0; height: 0; content: ''; border-color: transparent transparent transparent #2f2f2f; border-style: solid; border-width: .25em 0 .25em .25em; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.context-menu-item.context-menu-input { padding: .3em .6em; }
.context-menu-input > label > * { vertical-align: top; }
.context-menu-input > label > input[type=checkbox], .context-menu-input > label > input[type=radio] { position: relative; top: .12em; margin-right: .4em; }
.context-menu-input > label { margin: 0; }
.context-menu-input > label, .context-menu-input > label > input[type=text], .context-menu-input > label > select, .context-menu-input > label > textarea { display: block; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.context-menu-input > label > textarea { height: 7em; }
.context-menu-item > .context-menu-list { top: .3em; right: -.3em; display: none; }
.context-menu-item.context-menu-visible > .context-menu-list { display: block; }
.context-menu-accesskey { text-decoration: underline; }
/*# sourceMappingURL=jquery.contextMenu.min.css.map */
._list { }
#_list ._active{background: #48adff }
#Fcontent ._list table { width: 593px; }
._list table thead tr th { text-align: center; }
._list tr { font-size: 11px; }
._list tr:hover { background: #c1edff;cursor: pointer }
._list tr td { padding: 4px 8px; }
._list table tbody tr td.name {display: inline-flex }
._list table tbody tr td.name .list-icon { display: inline-block; float: left; padding-right: 20px; }
._list table tbody tr td.name .png, ._list table tbody tr td.name .jpg, ._list table tbody tr td.name .jpeg, ._list table tbody tr td.name .gif,
._list table tbody tr td.name .bmp { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/picture.png) no-repeat; width: 16px; height: 16px; }
._list table tbody tr td.name .doc, ._list table tbody tr td.name .docx { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/doc.png) no-repeat; width: 16px; height: 16px; }
._list table tbody tr td.name .xlsx, ._list table tbody tr td.name .xls { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/xls.png) no-repeat; width: 16px; height: 16px; }
._list table tbody tr td.name .zip, ._list table tbody tr td.name .rar { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/zip.png) no-repeat; width: 16px; height: 16px; }
._list table tbody tr td.name .txt { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/txt.png) no-repeat; width: 16px; height: 16px; }
._list table tbody tr td.name .pdf { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/pdf.png) no-repeat; width: 16px; height: 16px; }
._list table tbody tr td.name { width: 274px; display: inline-block; overflow: hidden; }
._list table tbody tr td.name .fname {display: inline-flex;}
._list table tbody tr td.type, ._list table tbody tr td.size, ._list table tbody tr td.dimensions, ._list table tbody tr td.date { overflow: hidden; width: 64px; text-align: center; }
._list table tbody tr td.size { width: 70px; }
._list table tbody tr td.dimensions { width: 80px; }
._list table tbody tr td.date { width: 115px; }
