.nav-top.ht .navbar-toggleable-sm .navbar-nav .nav-link{color: #f0c9a1;padding-right:.5rem;padding-left: .5rem; }
.nav-top .navbar-toggleable-sm .navbar-nav .nav-link::after{content: "";color:unset;margin-left: 0rem;}
.nav-top.ht .navbar-toggleable-sm .navbar-nav .nav-link:hover{color: #fff;}
.nav-top.ht {background: #204366;min-height: unset;}
.nav-bottom.ht .nav-link:hover{color: #fff;}
.header.ht, .nav-bottom.ht{background:#C09B71;}
.footer-1.ht{background: #204366;color: #C09B71;}
.footer-1.ht ul.address li::before{    background: url(/Themes/images/ic-ul-ft-ht.png) no-repeat center center;}
.reg.ht .border-right{border-color: #C09B71;}
.reg.ht{border-bottom:1px solid #C09B71}


.coop{background: url("/Themes/images/bg-03-100.jpg") no-repeat center center;background-size: cover;}

.coop .content{background: #20436694;padding:3rem 5rem;color: #fff;position: relative;border: 1px solid #C09B71;}
.coop .content::before{content: "";height: 90px;width: 90px;background: #c09b7185;position: absolute;top: -20px;left: -20px;}
.coop .content h3{font-size: 2.5rem;font-weight: 400;}
.coop .content .item{border-left: 3px solid #204366;padding-left: 1rem;margin-bottom: 2rem;}
.coop .content .item h4{font-size: 2.2rem;line-height: 1.1;margin-bottom:0;letter-spacing: 1px;font-weight: 400;}
.coop .content .item p{margin-bottom: .3rem;}
.coop form input.form-control ,.coop form textarea.form-control,.coop form a.btn-send{background: #C09B71;border-radius: 0;padding: 1rem;border:1px solid #fff;color: #fff;margin-bottom: 1rem;}
.coop form input.form-control::placeholder ,.coop form textarea.form-control::placeholder{color: #fff;}
.coop form a.btn-send{text-transform: uppercase;padding: .75rem 2rem;}

@media(max-width:575px){
    .coop .content{padding: 3rem 1rem;}
    .coop .content p.w-75{width: 100%!important;}
    .coop .content h3{font-size: 2rem}
    .coop .content::before{content: "";height: 60px;width: 60px;background: #c09b7185;position: absolute;top: -20px;left: -20px;}
    .nav-top.ht .navbar-brand{width: 35%;padding-bottom: 0;}
    .nav-top.ht .collapse.navbar-collapse{background: #204366;top: 50px;}
    .nav-top .navbar-toggler-right{top:10px;}
    .header .nav-top button.btn-search{
        color: #C09B71;
    }
}