

/*.fontsize{
    font-size:80px;
}*/

body { font-family: 'Roboto', sans-serif; font-size: 14px }
.tableFix { display: table; }
a { color: inherit; }
.h3, h3 { font-size: 1.25rem; }
.h1, h1 { font-size: 1.35rem; }
a:hover { color: inherit; text-decoration: none; }

ul { padding: 0; list-style-type: none; margin: 0; }

.nav-top { background: url("/Themes/images/nav.png") no-repeat center center; background-size: cover; min-height: 99px; width: 100%; opacity: 1 !important; display: block !important }

.nav-top i.fas.fa-bars { color: #fff; }

.nav-top .navbar-toggleable-sm .navbar-nav .nav-link { color: #fff; padding-left: 1rem; padding-right: 1rem; transition: 0.3s; position: relative; }

.nav-top .navbar-toggleable-sm .navbar-nav .nav-link.active { color: #ED6F0D; }
.nav-top .navbar-toggleable-sm .navbar-nav .nav-link::after { content: "|"; color: #fff; margin-left: 1rem; }
.nav-top .navbar-toggleable-sm .navbar-nav .nav-link:hover { color: #ED6F0D; transition: 0.3s; }

.header { background: #F2F2F2; box-shadow: 0 0 10px #7b7b7b; z-index: 10 }

.header .nav-top .search { position: relative; }

.header .nav-top button.btn-search { cursor: pointer; background: none; color: #fff; border: none; border: 1px solid #fff; line-height: 1; }

.header .nav-top button.btn-search:focus { box-shadow: 0 0 0 0 }

.header .nav-top .search #txtSearch { position: absolute; width: 280px; right: 0; top: 100%; display: none; }

.header .nav-top .dropdown:hover .dropdown-menu { display: block; }

.nav-bottom .nav-link { color: #345583; font-size: 22px; font-weight: bold; position: relative; }

.nav-bottom .nav-link:hover { color: #ED6F0D; transition: 0.3s; }

.nav-bottom ul { }

.nav-bottom .nav-item { }

.nav-bottom .nav-item .mega-menu { position: absolute; width: 100%; left: 50%; transform: translateX(-50%); background: #E6E6E6; z-index: 2; display: none; }

.nav-bottom .nav-item .ic-home { margin-right: 1rem; vertical-align: text-top; }

.nav-bottom .nav-item:hover .nav-link.arr::before { display: block; content: ""; width: 28px; height: 24px; background: url(/Themes/images/arr-d-mega.png) no-repeat center; position: absolute; bottom: -18px; left: 49%; transform: translateX(-50%); transition: none; z-index: 3; }

.nav-bottom .nav-item:hover .mega-menu { display: block; color: #345583; }

.nav-bottom .nav-bar { display: flex; }

.mega-menu .local { text-transform: uppercase; border-bottom: 5px solid #ED6F0D; margin: 0 0px; font-size: 17px; font-weight: 600; }
.mega-menu .local h2 { font-size: 15px }

.bg-bac4cc { background: #bac4cc; }

.mega-menu .local.local-2 { border-right: 1px solid #8EABD2; border-bottom: none; font-weight: 600; }

.mega-menu ul.list-lc li { margin-bottom: .2rem; font-size: 16px; border-bottom: 1px solid #8EABD2; padding: 5px 0; line-height: 1.2; }

.mega-menu ul.list-lc li:hover { color: #ED6F0D; }

.mega-menu ul.list-lc li:first-child { padding-top: 1rem; }

.bg-0f3f67 { background: #0f3f67; color: #fff; text-transform: uppercase; }

.mega-menu ul.list-lc { padding-right: 15px; padding-left: 15px; }

.mega-menu .bd-r { border-right: 1px solid #8EABD2; min-height: 210px; }

.mega-menu .bd-r .more { font-weight: 600; }

.mega-menu hr.bd-0f3f67 { border-top: 5px solid #0f3f67; margin-top: 0; }

.slide .swiper-pagination-bullet { border-radius: 0; width: 15px; height: 15px; background: none; border: 2px solid #fff; opacity: 1; }

.slide .swiper-pagination-bullet-active { background: #ED6F0D; border: none; }

.block-6 .item { background: #345583; text-align: center; padding: 15px 6px; color: #fff; margin-bottom: 4px; }

.block-6 .item:hover { background: #ED6F0D; transition: 0.3s; }

.block-6 .item i { font-size: 2rem; margin-bottom: 1rem; }

.block-6 .item p { font-size: 12px; margin-bottom: 0; font-weight: 500; }

.review h3,
.block-5 h3, .why h3, .client h3 { color: #345583; font-weight: bold; }

.review .item { border: 1px solid #8EABD2; padding: 1rem; color: #345583; margin-bottom: 1rem; }

.review .item .heading h4 { font-size: 24px; margin-top: 1rem; font-weight: 400; }

.review .item .heading hr { border-style: dashed; border-top-color: #345583; margin-top: .5rem; }

.review .item .detail ul li { position: relative; padding-left: 1.4rem; margin-bottom: 1rem; line-height: 1.3; }

.review .item .detail ul li::before { content: ""; position: absolute; width: 17px; height: 12px; background: url("/Themes/images/arrow-r.png") no-repeat center center; left: 0px; top: 4px; }

.review .btn-more,
.news .btn-more { background: #F8A55E; color: #fff; padding: 0.5rem 2rem; margin-top: 1rem; margin-bottom: 1rem; }

.reg { background: #345583; color: #fff; }

.reg label { font-size: 2rem; }

.reg .btn-res { color: #fff; background: #ED6F0D; text-transform: uppercase; cursor: pointer; }

.reg .text p { font-size: 20px; }

.reg .text * { color: #bfbfbf; }

.reg .border-right { border-right: 1px solid #bfbfbf; }

.footer-1 { background: #F2F2F2; color: #345583; }

.footer-1 h3 { font-size: 25px; font-weight: bold; }

.footer-1 ul.address { font-size: 16px; }

.footer-1 ul.address li { margin-bottom: 0px; position: relative; padding-left: 1.6rem; }

.footer-1 ul.address li::before { content: ""; position: absolute; width: 15px; height: 15px; background: url("/Themes/images/ic-ul-ft.png") no-repeat center center; left: 0px; top: 4px; }

.footer-1 ul.branch strong { font-size: 20px; font-weight: bold; }

.footer-1 hr { border-top-color: #345583; }

.footer-1 .f-20 { font-size: 20px; }

.footer-1 ul.list li { margin-bottom: 5px; }

.news .btn-more { margin: 0; }

.color-f7662c { color: #F7662C !important; }

.news .border-new { border: 1px solid #8EABD2; padding: .25rem 1rem; height: 100%; display: flex; }

.news .border-new a { color: #345583; font-weight: 600; align-self: center; }

.news .border-new span { align-self: center; /*margin: 0 10px; border-left: 1px solid #345583; padding: 0 10px*/ }

.news .border-new a:hover { text-decoration: underline; }

.news .border-new .btn-more { padding: 5px 1rem; background: #F7662C; }
.block-5 { background: #f5f5f5; }
.block-5 .support { display: flex; flex-wrap: wrap; min-height: 250px; }

.block-5 .support .item { width: 16.66%; padding: 2px 2px; text-align: center; height: 100%; transition: 0.3s; cursor: pointer; }

.bg-345583 { background: #345583; }

.block-5 .support .item .bg-345583 { padding: 1.5rem 1rem; color: #fff; min-height: 222px; transition: 0.3s }

.block-5 .support .item:hover { padding: 5px; transition: 0.3s; min-height: 200px; }

.block-5 .support .item:hover .bg-345583 { padding: 1.7rem 10px; min-height: 218px; font-size: 18px; transition: 0.3s }

.block-5 .support .item:hover img { transform: scale(1.1); transition: 0.3s }

.block-5 .support .item img { transition: 0.3s; }


.recr { background: url("/Themes/images/tuyendung.jpg") no-repeat center center; background-size: cover; display: flex; min-height: 60vh; color: #345583; text-transform: uppercase; }
.recr .fontsize { background: #00000069; color: white; font-weight: bold; padding: 20px 150px; }

.fontsize { font-size: 30px; }


.faq { background: url("/Themes/images/hoidap.jpg") no-repeat center center; background-size: cover; display: flex; min-height: 80vh; color: #f5f5f5; text-transform: uppercase; }
.faq .fontsize { background: #00000069; color: white; font-weight: bold; padding: 20px 150px; }
.form-re .red { color: red; }
.form-re input.form-control { border-radius: 0; }
.form-re { color: #244F93; }
.form-re .btn-primary { border-radius: 0; }

.list-job .card { border-radius: 0; }
.list-job .card-header { padding: 0; border-bottom: 0; color: #444444; cursor: pointer; }
.list-job .card-header .stt { padding: 1rem 1.5rem; background: #F2F2F2; border-right: 1px solid lightgray; }
.list-job .card-header .title { text-transform: uppercase; }
.list-job .card-header i { font-size: 14px; color: #bdbdbd; }

.why { background: #f5f5f5; }
.why .item { text-align: center; color: #666666; }
.why .item .image { min-height: 100px; overflow: hidden; margin-bottom: 1.5rem; }
.why .item .text h4 { color: #000; font-size: 18px; font-weight: 500; }
.why.about, .bg-number { background: url("/Themes/images/bg-number.jpg"); background-size: cover; }
.why.about h3 { text-transform: uppercase; color: #fff; }
.why.about p { text-align: center; color: #fff; }
.why.about .text h4 { color: #ea794e; }

.thu-ngo { background: #f5f5f5; }
.thu-ngo .text h4 { margin-bottom: 1.5rem; font-size: 36px; }
.thu-ngo .text p { line-height: 1.5; font-size: 20px; color: #333333; }

.bg-number .item { margin-bottom: 1.5rem; }
.bg-number .item .text h4 { font-size: 18px; color: #fff; text-align: center; }
.bg-number .item .number { font-size: 45px; font-weight: 500; text-align: center; color: #ffd800; }

.about-us .heading p { width: 58%; }
.about-us .heading .tab-about { padding: 8px 2rem; background: #999999; text-transform: uppercase; }
.about-us .heading .tab-about:first-child { border-top-left-radius: 1.5rem; border-bottom-left-radius: 1.5rem; }
.about-us .heading .tab-about:last-child { border-top-right-radius: 1.5rem; border-bottom-right-radius: 1.5rem; }
.about-us .heading .tab-about.active { background: #ea6e17; color: #fff; }


.bg-about { background: url("/Themes/images/bg-about.jpg") no-repeat center center; background-size: cover; display: flex; min-height: 80vh; color: #345583; text-transform: uppercase; }
.bg-project { /*background: url("/Themes/images/bg-about.jpg") no-repeat center center;*/ background-size: cover; display: flex; min-height: 80vh; color: #345583; text-transform: uppercase; }
.bg-about .bg-text { background: #00000069; color: #ffd800; font-weight: bold; padding: 50px 100px; }
.bg-about .bg-text h2 { font-size: 60px; }
.bg-about .bg-text h3 { font-size: 36px; }

.bg-project { /*background: url("/Themes/images/bg-list-project.jpg") no-repeat center center; background-size: cover;*/ min-height: 90vh; color: #fff; text-transform: uppercase; position: relative; }
.bg-project.bg-new { background: url("/Themes/images/bg-news.jpg") no-repeat center center; background-size: cover; min-height: 60vh; color: #fff; text-transform: uppercase; position: relative; }
/*.bg-project::before { content: ""; width: 100%; height: 100%; background: #000000a3; position: absolute; top: 0; left: 0; z-index: 0; }*/

.bg-project h2 { z-index: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 30px; }
.bg-project .breadcrumb { position: absolute; width: 100%; bottom: 0; margin-bottom: 0; border-radius: 0; border: none; background: #0000009c; }
.bg-project .breadcrumb-item + .breadcrumb-item::before { content: ""; width: 11px; height: 11px; background: url("/Themes/images/br-icon.png") no-repeat center center; background-size: contain; margin: 0 10px; }
.bg-project .breadcrumb a { color: #fff }
.list-project .item { position: relative; margin-bottom: 5rem; transition: 0.5s; }
.list-project .item .image { overflow: hidden; }
.list-project .item .image img { transition: 0.5s; }
.list-project .item:hover .image img { transform: scale(1.1); transition: 0.5s; }
.list-project .item .text { background: #345583; color: #fff; position: absolute; bottom: -40px; text-transform: uppercase; font-weight: 500; width: 80%; right: 0; font-size: 14px; display: flex; }
.list-project .item .text img { margin-left: -40px; }

.w-ct-prj-r-1 .item { margin-bottom: 2rem; }
.w-ct-prj-r-1 .item .text h4 { font-size: 20px; margin-bottom: 1rem; }
.w-ct-prj-r-1 .item .text p { color: #333333; width: 90%; margin: auto; }


.w-ct-prj-r-2 .map { background: url("/Themes/images/w-ct-prj-map.jpg")no-repeat center center; background-size: cover; height: 100%; }
.w-ct-prj-r-2 .content { background: url("/Themes/images/CHL_pv_PCTM_fr1.jpg")no-repeat center center; background-size: cover; color: #fff; font-size: 20px; }

.w-ct-prj-r-contact { background: url("/Themes/images/bg-w-ct-prj-lh.jpg")no-repeat center center; background-size: cover; }
.w-ct-prj-r-3 h3, .w-ct-prj-r-contact h3 { color: #ffd800; text-transform: uppercase; text-align: center; margin-bottom: 3rem; font-size: 36px; }
.w-ct-prj-r-contact * { border-radius: 0; }
.w-ct-prj-r-contact .btn-send { background: #ffd800; color: #000; text-transform: uppercase; font-weight: 600; cursor: pointer; padding: .5rem 2rem; }
.w-ct-prj-r-3 { background: url("/Themes/images/bg-w-ct-prj-3.jpg")no-repeat center center; background-size: cover; color: #fff; }
.w-ct-prj-r-3 h4 { font-size: 20px; color: #ffd800; margin-bottom: 1rem; }

.w-ct-prj-r-3 .item { padding: 2rem 1rem; }
.w-ct-prj-r-3 .item img { margin-bottom: 2rem; }
.w-ct-prj-r-3 .bd { border-right: 1px solid #ffffff73; border-left: 1px solid #ffffff73; }
.w-ct-prj-r-3 hr { border-top: 1px solid #ffffff73; margin: 0; }

.w-ct-prj-r-4 { color: #333333; background: #e9f1ff; }
.w-ct-prj-r-4 .heading { text-align: center; margin: auto; margin-bottom: 2.5rem; }
.w-ct-prj-r-4 .heading h3 { font-size: 36px; color: #144a91; }
.w-ct-prj-r-4 .content { padding: 0 1rem; }
.w-ct-prj-r-4 .bd { border-right: 1px solid lightgray; }
.w-ct-prj-r-4 .content ul { list-style-type: disc; list-style-position: inside; }

.w-ct-prj-r-5 .image { /*background: url("/Themes/images/w-ct-prj-image.jpg")no-repeat center center;*/ background-size: cover; height: 100%; width: 100% }
.w-ct-prj-r-5 .content h3 { margin-bottom: 1.5rem; font-size: 24px; }
.w-ct-prj-r-5 .content p { /*font-size: 18px;*/ }
.w-ct-prj-r-5 .content { width: 100%; }

.w-ct-prj-r-5 .content { padding-top: 100px !important; padding-bottom: 100px !important; }

.w-ct-prj-r-img .image { overflow: hidden; max-height: 250px; }


.list-news .item { display: flex; border-bottom: 1px dashed #b7b7b7; }
.list-news .item:last-child { border-bottom: none; }
.list-news .item .image { }
.list-news .item .content h3 { font-size: 20px; color: #0c3f67; margin-bottom: .5rem; }
.list-news .item .content .time { color: #999999; margin-bottom: 1rem; font-size: 14px; }

.pagi.pagination .page-item { margin-right: 10px; }
.pagi.pagination .page-item .page-link { border: 0; padding: 5px 10px; background-color: #eceeef; color: #333333; }
.pagi.pagination .page-item:first-child .page-link { border-radius: 0; }
.pagi.pagination .page-item:last-child .page-link { border-radius: 0; }
.pagi.pagination .page-item.active .page-link { background: #144a91; }

.heading-menu-news { text-transform: uppercase; font-size: 20px; background: #ed6f0b; padding: .75rem; font-weight: 600; color: #fff; }
.bg-0c3f67 { background: #0c3f67; color: #fff; font-size: 18px; }

.menu-left .list-group-item:first-child, .menu-left .list-group-item:last-child { border-radius: 0; }
.menu-left i { font-size: 16px; }

.list-group-item.bg-f4 { background: #f4f4f4; border-right: none; border-left: none; border-bottom: 1px dashed #b7b7b7; border-top: 1px dashed #b7b7b7; }
.lastest .item { display: flex; }
.lastest .item .image { margin-right: 1rem; overflow: hidden; min-width: 30%; }
.lastest .item .content h4 { font-size: 16px; line-height: 1.3; }
.lastest .item .content .time, .detail-new .heading .time { color: #999999; font-size: 12px; }

.detail-new { color: #000; }
.detail-new .description { font-weight: bold; font-size: 16px; padding-top: 20px }
.detail-new img { max-width: 90% }
.detail-new a.btn-fb { background: #4966b1; color: #fff; }

.new-lq-item { display: block; margin-bottom: 2rem; }
.new-lq-item .image { max-height: 180px; overflow: hidden; margin-bottom: 1rem; }
.new-lq-item .text a { font-weight: 600; color: #333333; }
.color-144a91 { color: #144a91; }

.bd-1 { background: #0c3f67; height: 3px; width: 100%; position: relative; }
.bd-2 { background: #ed6f0b; height: 3px; width: 25%; position: absolute; left: 0; }


.cd-r-item { }
.cd-r-item .bd-2 { width: 50%; }
.cd-r-item .table-cd, .modal-dl .table-cd { font-size: 14px; }
.cd-r-item .table-cd a.down, .modal-dl .table-cd a.down { color: #244F93; }
.cd-r-item .table-cd a:hover, .modal-dl .table-cd a:hover { color: #244F93; }
.cd-r-item a.more { color: #ED6F0D; }
.cd-r-item h3 { font-size: 24px; color: #333333; }



.modal-dl .modal-header { background: #ea6e17; color: #fff; text-align: center; }
.btn-download { position: fixed; top: 50%; z-index: 100; transform: rotate(-90deg); background: #144a91; border-bottom-left-radius: 0; border-bottom-right-radius: 0; right: -79px; color: #fff; text-transform: uppercase; cursor: pointer; }
.btn-download:hover { background: #ea6e17; }
.content.bg-ededed, .bg-ededed { background: #dedede; color: #292b2c; }
.w-ct-prj-r-2 .content.bg-ededed { width: 85%; margin-left: auto; }


.bg-project.bg-pd::before { content: none; }
.bg-project.bg-pd { text-transform: unset; min-height: 90vh; }
.bg-project.bg-pd .project { position: absolute; padding: 1.5rem; width: 35%; left: 45%; top: 50%; transform: translateY(-50%); background: #2b4764b3; }
.bg-project.bg-pd h3 { color: #ffb739; font-size: 30px; font-weight: 600; }
.bg-project.bg-pd p { margin-bottom: 0; }

@media (max-width: 1199px) {
    .nav-top .navbar-toggleable-sm .navbar-nav .nav-link { font-size: 14px; }
    .nav-top .navbar-toggleable-sm .navbar-nav .nav-link::after { content: ""; margin-left: 0; }

    .block-5 .support .item .bg-345583 { min-height: 180px; }
    .block-5 .support .item .image { width: 80px; margin: auto; }
}

@media (max-width: 991px) {
    .nav-top .navbar-toggleable-sm .navbar-nav .nav-link { font-size: 12px; padding-right: .7rem; }

    .block-5 .support .item { width: 20%; }
    .block-5 .support .item .image { width: 60px; margin: auto; }
    .block-5 .support .item .bg-345583 { min-height: 150px; font-size: 15px; }
    .w-ct-prj-r-5 .content { padding-top: 50px !important; padding-bottom: 50px !important; width: 90%; }
    .w-ct-prj-r-5 .content p, .w-ct-prj-r-2 .content p { font-size: 1rem; }
    .bg-project.bg-pd .project { position: absolute; padding: 1.5rem; width: 50%; left: 40%; top: 50%; transform: translateY(-50%); }
}

@media (max-width: 768px) {
    
    .nav-bottom .nav-link { font-size: 14px; padding: 5px 8px; }
    .block-5 .support .item { width: 33.33%; }
    .block-5 .support .item .image { width: 60px; margin: auto; }
    .block-5 .support .item .bg-345583 { min-height: 160px; background: #fff; color: #144a91 }
    .bg-number .item .number { font-size: 3rem; margin-bottom: .5rem; }
    .bg-number .item .text h4 { font-size: 1rem; }
    .reg label { font-size: 1.5rem; }
    .reg input { margin-bottom: 1rem; }
    .nav-top .navbar-toggler-right { top: 20px; }

    .w-ct-prj-r-3 .bd { border-right: 0; border-left: 0 }
    .w-ct-prj-r-3 hr { border-top: 0; margin: 0; }
    .w-ct-prj-r-5 .content { padding-top: 50px !important; padding-bottom: 50px !important; width: 100%; }
    .w-ct-prj-r-5 .content p { font-size: 1rem; }
    .w-ct-prj-r-2 .content.bg-ededed { width: 100%; }
    .w-ct-prj-r-4 .heading h3 { font-size: 1.8rem; }

    .bg-project.bg-pd .project { position: absolute; padding: 1.5rem; width: 55%; left: 35%; top: 40%; }
    .w-ct-prj-r-5 .image { min-height: 40vh; }
}


@media (max-width: 575px) {
    .nav-top .navbar-toggleable-sm .navbar-nav .nav-link::after { content: ""; color: #fff; margin-left: 0rem; }
    .nav-top .navbar-toggleable-sm .navbar-nav .nav-link { padding-left: 1rem; }
    .header .nav-top .search #txtSearch { position: unset; width: 210px; display: block; margin-left: .5rem; margin-right: .5rem; }
    .header .nav-top button.btn-search { color: #0f3f67; margin-right: .5rem; }
    .header .nav-top .search { position: unset; display: flex; margin-right: 0 !important; }
    .header .nav-top .dropdown { align-self: center; }
    .nav-bottom .nav-link { font-size: 12px; text-align: center; }
    .mega-menu .bd-r { border: none; min-height: auto; }
    .mega-menu ul.list-lc li { padding: 10px 0; }
    .mega-menu ul.list-lc { margin-bottom: 1rem; }
    .nav-bottom .nav-bar { }
    .reg .py-5 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
    .reg label { font-size: 1.5rem; }
    .reg .text p { font-size: 18px; }
    .block-5 .support .item { width: 50%; }
    .block-5 .support .item .bg-345583 { min-height: 160px; }
    .nav-top { min-height: 90px; background: url("/Themes/images/nav.png") no-repeat top center }
    .nav-top .navbar-brand { width: 50%; padding-bottom: 10px; padding-top: 0; }
    .nav-top .collapse.navbar-collapse { background: #E6E6E6; position: absolute; width: 100%; left: 0; top: 60px; z-index: 2; padding-bottom: 1rem; }
    .nav-top .navbar-toggleable-sm .navbar-nav .nav-link { color: #0f3f67; }
    .footer-1 ul.branch strong { font-size: 18px; }
    .footer-1 .f-20 { font-size: 16px; }
    .news .border-new { display: block; }
    .nav-top .navbar-toggler-right { top: 20px; }
    .why .item { margin-bottom: 2rem !important; width: 85%; margin: auto; }
    .bg-about .bg-text { padding: 20px 30px; }
    .bg-about .bg-text h2, .bg-project h2 { font-size: 2rem; }
    .bg-about .bg-text h3 { font-size: 1rem; }

    .about-us .heading .tab-about { padding: 10px; }
    .about-us .heading p { width: 90%; }

    .w-ct-prj-r-2 .content { font-size: 16px; }
    .w-ct-prj-r-2 .map, .w-ct-prj-r-5 .image { min-height: 50vh; }
    .w-ct-prj-r-5 .content { width: 100%; padding: 2rem 1rem !important; }

    .cd-r-item h3 { font-size: 18px; }

    .bg-project.bg-pd .project { position: absolute; padding: 1.5rem; width: 90%; left: 5%; top: 45%; }
    .bg-project.bg-pd h3 { font-size: 1.5rem; }
}

@media(max-width: 320px) {
    .block-6 .item { min-height: 120px; }

    .bg-project.bg-pd .project { position: absolute; padding: 1.5rem; width: 100%; left: 0%; top: 0; bottom: 20%; transform: unset; }
    .bg-project.bg-pd .project p { font-size: 14px; }
}

section.products h2 { font-size: 12px; text-transform: uppercase }
section.products .row > div { padding: 0 2px }
.pagination { margin: 0 0 20px }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover { color: #fff; background: #345583 }
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover, .pagination > li > a, .pagination > li > span { display: flex; justify-content: center; align-items: center; height: 34px; width: 34px; line-height: 34px; padding: 0; text-align: center; font-size: 15px; color: #333; border: none; margin: 0; background: #f5f5f5; border-radius: 5px }
.pagination > li, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span { border-radius: 5px }
.pagination > li { margin-right: 5px; float: left }
.pagination li.active, .pagination li:hover { background: #9e9e9e }
.title-h2 { font-size: 12px }
.fixed { position: fixed; top: 0; z-index: 999; display: block; background: #345583; min-height: 52px; border-bottom: 1px solid #144a91 }
.fixed .top-logo { width: 88px }
.info-contact i { padding-right: 4px }

.page-header { background: #00000069; color: white; font-weight: bold; padding: 20px 140px; font-size: 30px;text-align:center }
.fix-bg-header { display: flex; min-height: 60vh; color: #345583; text-transform: uppercase; }
#projectDetail { font-size: 1 v* }
.image-project { width: 100%; height: 100%; background-size: cover !important; min-height: 400px }
.item.bg-bac4cc { margin-top: 14px; padding-top: 14px }
.item.bg-bac4cc .local { border-bottom: 5px solid #144a91; }
div.tags { padding: 20px 0; }
.tags .arrow { position: absolute; display: block; height: 2px; width: 0; left: -9px; top: -1px; border-style: solid; border-width: 8px 9px 8px 0; border-color: transparent; border-right-color: #a5cae4; }
.tags .arrow:after { content: ''; position: absolute; display: block; height: 2px; width: 0; left: 1px; top: -7px; border-style: solid; border-width: 7px 8px 7px 0; border-color: transparent; border-right-color: #f0f7fc; }
.tags a:after { content: ''; position: absolute; left: -2px; top: 6px; display: block; height: 3px; width: 3px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -khtml-border-radius: 50%; border-radius: 50%; border: 1px solid #a5cae4; background: rgb(252, 252, 255); }
.tags a { margin-left: 4px; position: relative; display: inline-block; background: #f0f7fc; margin-left: 14px; height: 16px; line-height: 12px; padding: 1px 4px 1px 6px; border: 1px solid #a5cae4; border-left: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; -khtml-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; -khtml-border-bottom-left-radius: 0; border-bottom-left-radius: 0; color: #176093; font-size: 11px; }
.image-project{ width: 100%;height: 100%;background-size: cover !important;min-height: 400px}
.item.bg-bac4cc{ margin-top: 14px;padding-top: 14px}
.item.bg-bac4cc .local { border-bottom: 5px solid #144a91; }
.list-project .img-fluid, .list-news .img-fluid { width: 100%; }
.list-news .title{padding: 10px 0}
@media (max-width: 768px) {
    .fix-bg-header { min-height: 25vh !important }
    .bg-project, .bg-project.bg-new { min-height: 30vh !important }
}