  body {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin: 0;
      font-size: 15px;
      color: #333333;
      background: #fff;
  }
  
  * {
      font-family: 'Roboto', sans-serif;
  }
  
  button:focus {
      outline: none;
  }
  
  a:hover {
      color: inherit;
      text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
      margin-bottom: 0;
      font-size: 400;
  }
  
  a {
      color: inherit;
  }
  
  ul,
  li {
      padding: 0;
      list-style-type: none;
      margin: 0;
  }
  
  .color-FF0000 {
      color: #FF0000;
  }
  
  .bg-F8F8F8 {
      background: #F8F8F8
  }
  
  .no-wrap {
      white-space: nowrap;
  }
  
  .color-0072ff {
      color: #0072ff;
  }
  
  .header {
      background: #f8f8f8;
  }
  .header .dropdown-toggle::after{
    display: none;
  }
  
  .header .navbar-toggler-right {
      top: 1.5rem;
      color: #0072ff;
  }
  
  .header .navbar-toggleable-sm {
      padding: 0;
  }
  
  .header .navbar-toggleable-sm .navbar-nav .nav-item {
      align-self: center;
  }
  
  .header .navbar-toggleable-sm .navbar-nav .nav-link {
      color: #666666;
      font-size: 18px;
      font-weight: 400;
      padding: 1rem 1.2rem;
  }
  
  .header .navbar-toggleable-sm .navbar-nav .nav-link img.grey {
      vertical-align: middle;
      filter: grayscale(100%);
  }
  
  .header .navbar-toggleable-sm .navbar-nav .nav-link:hover img.grey {
      transition: .5s;
      filter: grayscale(0%);
  }
  
  .header .navbar-toggleable-sm .navbar-nav .active .nav-link {
      color: #0072ff;
  }
  
  .header .navbar-toggleable-sm .navbar-nav .active .nav-link img.grey {
      filter: grayscale(0%);
  }
  
  .header .navbar-toggleable-sm .navbar-nav .nav-link:hover {
      transition: .5s;
      color: #0072ff;
  }
  .header .dropdown-menu{
      left: 50%;
      transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      border:0;
      border-top: 3px solid #0072ff;
      border-bottom: 3px solid #0072ff;
      border-radius: 0;
      font-size: 18px;
  }
  .header .dropdown-menu .dropdown-item{
      color: #666666;
  }
  
  .hot-line:hover {
      color: initial!important;
  }
  
  .hot-line .red {
      color: #f94421;
      text-align: right;
  }
  
  .hot-line .red span {
      font-size: 20px;
      font-weight: bold;
  }
  
  .footer {
      background: #f3f3f3;
  }
  
  .footer .cp {
      color: #333333;
      text-align: center;
      padding: 1.5rem;
      border-top: 2px solid #f9bf7a;
  }
  
  .footer .heading {
      font-size: 16px;
      color: #333333;
      font-weight: 600;
      margin-bottom: 1rem;
  }
  
  .footer .link-footer {
      color: #666666;
      font-size: 14px;
      margin-bottom: 1.5rem;
  }
  
  .footer .link-footer span {
      color: #333333;
      font-weight: 500;
  }
  
  .footer .link-footer li {
      margin-bottom: .5rem;
  }
  
  .footer .link-footer li a:hover {
      color: #0072ff;
      transition: .5s;
  }
  
  .footer .social .btn {
      width: 38px;
      height: 38px;
      color: #fff;
      border-radius: 50%;
      padding: 9px;
      margin-right: 10px;
      margin-bottom: .5rem;
  }
  
  .footer .social .btn.fb {
      background: #3b5998;
  }
  
  .footer .social .btn.gg {
      background: #dc4e41;
  }
  
  .footer .social .btn.you {
      background: #c4302b;
  }
  
  .res {
      background: #f3f3f3;
      padding: 2rem 0;
  }
  
  .res .form-res .tip {
      font-size: 18px;
      color: #666666;
      margin-bottom: 2rem;
  }
  
  .res .form-res .tit {
      font-size: 24px;
      color: #333333;
      margin-bottom: 1rem;
  }
  
  .res .form-res input.form-control {
      border-radius: 0;
      height: 55px;
  }
  
  .btn-res {
      background: #009bdb;
      border-radius: 0;
      color: #fff;
      height: 55px;
      padding-left: 3rem;
      padding-right: 3rem;
  }
  
  .blog-ss-1 {
      padding: 20px 0;
  }
  
  .blog-ss-1 .item:hover .title {
      padding: 20px 15px;
      transition: .5s;
  }
  
  .blog-ss-1 .slide-blog-cate .item:hover .title {
      padding: 10px;
  }
  
  .blog-ss-1 .item:hover img {
      transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transition: .5s;
  }
  
  .blog-ss-1 .item {
      position: relative;
      overflow: hidden;
  }
  
  .blog-ss-1 .item .title {
      background: #00000040;
      padding: 10px;
      color: #fff;
      position: absolute;
      bottom: 0;
      width: 100%;
      transition: .5s;
  }
  
  .blog-ss-1 .item .title {
      font-size: 16px;
      font-weight: bold;
  }
  
  .blog-ss-1 .item-right {
      height: calc(50% - 1rem);
  }
  
  .blog-ss-1 .item-right img,
  .blog-ss-1 .item img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: .5s;
  }
  
  .media {
      padding: 35px 0;
      background: #EDEDED;
  }
  
  .media .item .title {
      font-weight: 400;
      font-size: 15px;
      color: #000;
  }
  
  .media .item .date {
      color: #9B9B9B;
      font-size: 12px;
      margin-bottom: 1rem;
  }
  
  .media .item .date .acc {
      margin-right: 1.5rem;
      position: relative;
  }
  
  .media .item .date .acc::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      right: -1rem;
      background: #9B9B9B;
      top: 5px;
  }
  
  .blog-ss-2 .heading,
  .blog-ss-right .heading-2 {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: #0072ff;
      position: relative;
      margin-bottom: 1.5rem;
      margin-top: 2rem;
  }
  
  .blog-ss-2 .heading::before,
  .blog-ss-right .heading-2::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      background: #0072ff;
      top: -10px;
  }
  
  .blog-ss-2 .image,
  .blog-ss-right .image {
      margin-bottom: 1rem;
      overflow: hidden;
  }
  
  .blog-ss-2 .image img,
  .blog-ss-right .image img {
      width: 100%;
      height: auto;
  }
  
  .blog-ss-2 .item-left .title,
  .blog-ss-right .item-left .title {
      font-size: 15px;
      margin-bottom: 10px;
      color: #000;
  }
  
  .blog-ss-2 .item-left .detail,
  .blog-ss-right .item-left .detail {
      font-size: 14px;
      color: #3c3c3c;
  }
  
  .blog-ss-2 .item-right,
  .blog-ss-right .item-right {
      display: flex;
  }
  
  .blog-ss-2 .item-right .image,
  .blog-ss-right .item-right .image {
      width: 25%;
      align-self: center;
  }
  
  .blog-ss-2 .item-right .text,
  .blog-ss-right .item-right .text {
      width: 75%;
      padding-left: .75rem;
      margin-bottom: 8px;
  }
  
  .blog-ss-2 .item-right .title,
  .blog-ss-right .item-right .title {
      font-size: 14px;
      margin-bottom: 8px;
      color: #000;
      line-height: 1.5;
      font-weight: 400;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  .blog-ss-2 .item-right .time,
  .blog-ss-right .item-right .time {
      font-size: 12px;
      color: #9B9B9B;
      font-weight: 300;
  }
  
  .blog-ss-right .heading,
  .media .heading,
  .list-news .heading,
  .slide-blog-detail .heading {
      font-size: 20px;
      font-weight: bold;
      padding-left: 20px;
      position: relative;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }
  
  .blog-ss-right .heading::before,
  .media .heading::before,
  .list-news .heading::before,
  .slide-blog-detail .heading::before {
      width: 15px;
      height: 15px;
      position: absolute;
      content: "";
      left: 0;
      background: #0072ff;
      top: 8px;
  }
  
  .blog-ss-right .heading::after,
  .media .heading::after,
  .list-news .heading::after,
  .slide-blog-detail .heading::after {
      width: calc(100% - 160px);
      height: 2px;
      position: absolute;
      content: "";
      right: 0;
      background: #E1E1E1;
      top: 14px;
  }
  
  .media .heading::after {
      width: calc(100% - 100px);
  }
  
  .list-news .heading::after {
      width: calc(100% - 200px);
  }
  
  .slide-blog-detail .heading::after {
      width: calc(100% - 230px);
  }
  
  .slide-blog .item-slide .image {
      max-height: 200px;
      overflow: hidden;
      margin-bottom: .5rem;
  }
  
  .slide-blog .item-slide .image img {
      object-fit: cover;
  }
  
  .slide-blog .item-slide .title {
      font-size: 13px;
      font-weight: 400;
      color: #000;
      line-height: 1.3;
  }
  
  .slide-blog .swiper-button-next,
  .slide-blog .swiper-button-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 28px;
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      background: #fff;
      text-align: center;
      padding-top: 3px;
  }
  
  .slide-blog .swiper-button-next,
  .slide-blog .swiper-container-rtl .swiper-button-prev {
      right: 0px;
      left: auto;
  }
  
  .slide-blog .swiper-button-prev,
  .slide-blog .swiper-container-rtl .swiper-button-next {
      left: 0px;
      right: auto;
  }
  
  .suggest {
      background: url(../imgs/bg-dd.png) repeat-x bottom;
      background-size: contain;
  }
  
  .suggest .heading .top {
      font-size: 24px;
      color: #000;
  }
  
  .suggest .heading .bot {
      font-size: 14px;
      color: #666666;
  }
  
  .suggest .item {
      margin-bottom: 1rem;
      font-size: 14px;
  }
  
  .suggest .item .place {
      color: #0072ff;
  }
  
  .suggest .item .slot {
      color: #666666;
  }
  /*blog-cate*/
  
  .trendding,
  .trendding .breaking-news-ticker,
  .trendding .bn-label {
      background: #EDEDED;
  }
  
  .trendding .bn-label {
      text-transform: uppercase;
      font-size: 12px;
      color: #FF0000;
  }
  
  .trendding .bn-label::after {
      content: "";
      width: 6px;
      height: 10px;
      background: url(../imgs/chev-right.png);
      background-size: contain;
      position: absolute;
      margin-left: 10px;
      margin-top: 13px;
  }
  
  .trendding .bn-controls button {
      height: 30px;
      background: #EDEDED;
      border: 1px solid #C6C6C6;
      border-radius: 3px;
      margin-right: 5px;
  }
  
  .trendding .bn-controls {
      top: 6px;
  }
  
  .trendding .bn-arrow {
      top: -8px;
  }
  
  .slide-blog-cate .swiper-button-next,
  .slide-blog-cate .swiper-button-prev {
      position: absolute;
      top: initial;
      transform: translateY(-50%);
      width: 26px;
      height: 28px;
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      background: none;
      text-align: center;
      padding-top: 3px;
      bottom: 5px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 3px;
  }
  
  .slide-blog-cate .swiper-button-next,
  .slide-blog-cate .swiper-container-rtl .swiper-button-prev {
      right: 10px;
      left: auto;
  }
  
  .slide-blog-cate .swiper-button-prev,
  .slide-blog-cate .swiper-container-rtl .swiper-button-next {
      left: auto;
      right: 46px;
  }
  
  .list-news .item {
      border-bottom: 1px dashed #CFCFCF;
      position: relative;
  }
  
  .list-news .item .image {}
  
  .list-news .item::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 2px;
      background: #fff;
      left: 0;
      bottom: -1px;
  }
  
  .list-news .item::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 2px;
      background: #fff;
      right: 0;
      bottom: -1px;
  }
  
  .list-news .item .title {
      font-size: 14px;
      margin-bottom: 10px;
      color: #000000;
  }
  
  .list-news .item .content {
      font-size: 14px;
      color: #1D1D1D;
      line-height: 1.5;
  }
  
  .list-news .item .time {
      font-size: 12px;
      color: #9B9B9B;
      margin-bottom: 10px;
  }
  
  .list-news .pagination .page-link {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: 10px;
      line-height: 1.25;
      color: #000;
      background-color: #EDEDED;
      border: 1px solid #c5c5c5;
      border-radius: 0!important;
  }
  
  .list-news .page-item.active .page-link {
      z-index: 2;
      color: #fff;
      background-color: #0275d8;
      border-color: #0275d8;
  }
  /*blog detail*/
  
  .blog-detail-tag .item-tag {
      font-size: 12px;
      padding: 10px 20px;
      background: #F1F1F1;
      float: left;
      margin-right: 1rem;
      color: #5D5D5D;
  }
  
  .blog-detail-tag .heading {
      margin-bottom: 1rem;
      float: left;
      padding: 10px 20px;
      color: #5D5D5D;
  }
  
  .breadcrumb-blog-detail {
      background: none;
      font-size: 13px;
      padding: 0;
  }
  
  .breadcrumb-blog-detail .breadcrumb-item.parent,
  .breadcrumb-blog-detail .breadcrumb-item {
      color: #0072ff;
      background: #EDEDED;
      padding: 5px 25px;
      border-left: 2px solid #0072ff;
      position: relative;
  }
  
  .breadcrumb-blog-detail .breadcrumb-item {
      color: #1D1D1D;
      background: #E5E5E5;
      padding: 5px 25px;
      border-left: 0;
      position: relative;
  }
  
  .breadcrumb-item.parent::after {
      width: 0;
      height: 0;
      border-top: 17px solid transparent;
      border-left: 25px solid #EDEDED;
      border-bottom: 12px solid transparent;
      content: "";
      padding: 0;
      position: absolute;
      right: -25px;
      top: 0;
      z-index: 2;
  }
  
  .breadcrumb-item::after {
      width: 0;
      height: 0;
      border-top: 17px solid transparent;
      border-left: 25px solid #E5E5E5;
      border-bottom: 12px solid transparent;
      content: "";
      padding: 0;
      position: absolute;
      right: -25px;
      top: 0;
      z-index: 2;
  }
  
  .breadcrumb-item+.breadcrumb-item::before {
      content: "";
  }
  
  .blog-detail .time,
  .blog-detail .share {
      font-size: 12px;
      color: #9B9B9B;
  }
  
  .blog-detail .content-blog {
      color: #000;
      font-size: 15px;
      border-bottom: 1px dashed #E1E1E1;
      margin-bottom: 1rem;
  }
  
  .blog-detail .content-blog .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 1rem;
  }
  
  .blog-detail .content-blog .description {
      margin-bottom: 1rem;
      font-weight: 500;
  }
  /*Ve may bay*/
  
  .ss-name {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 0;
  }
  
  .ss-name .left {
      font-size: 14px;
      align-self: center;
  }
  
  .ss-name .left .tit {
      font-size: 24px;
      margin-bottom: 10px;
  }
  
  .ss-name .right {
      margin-left: auto;
      align-self: center;
  }
  
  .select-place {
      width: 200px;
  }
  
  .list-combo .item {
      background: #fff;
      box-shadow: 0 0 5px #00000030;
      margin-bottom: 2rem;
  }
  
  .list-combo .item .image {
      position: relative;
      overflow: hidden;
      height: 280px;
  }
  
  .list-combo .item .image img {
      width: 100%;
      transition: .3s;
  }
  
  .list-combo .item .content {
      padding: 1rem 1.5rem;
      text-align: center;
  }
  
  .list-combo .item .content .tit {
      font-size: 20px;
      color: #333333;
      margin-bottom: .5rem;
      font-weight: 500;
  }
  
  .list-combo .item .content .detail {
      font-size: 14px;
      color: #666666;
      margin-bottom: 1rem;
  }
  
  .list-combo .item .content .cost {
      font-size: 24px;
      color: #ff0000;
      font-weight: bold;
  }
  
  .list-combo .item .content .cost sup {
      color: #999999;
  }
  
  .list-combo .item .date {
      padding: 1rem 1.5rem;
      text-align: center;
      color: #666666;
      border-top: 1px solid #dedede;
  }
  
  .list-combo .item .flag {
      border-bottom: 50px solid #00000070;
      border-left: 25px solid transparent;
      border-right: 0px solid transparent;
      height: 0;
      width: 200px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
  }
  
  .list-combo .item .text {
      position: absolute;
      bottom: .5rem;
      right: 0px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 900;
      z-index: 2;
      width: 200px;
  }
  
  .list-combo .item:hover img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transition: .3s;
  }
  
  .list-combo .btn-view-more {
      background: #fe8c00;
      cursor: pointer;
  }
  
  .banner-vmb {
      position: relative;
  }
  
  .banner-vmb .ovelay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, #00000094, #0000001f);
      color: #fff;
      display: flex;
  }
  
  .banner-vmb .ovelay .heading .top {
      font-size: 48px;
      font-weight: bold;
  }
  
  .banner-vmb .ovelay .heading .bot {
      font-size: 24px;
  }
  
  .gr-btn-fixed {
      position: fixed;
      top: 40%;
      right: 0;
      z-index: 10;
  }
  
  .gr-btn-fixed a {
      display: block;
  }
  
  .gr-btn-fixed .btn {
      border-radius: 0;
      height: 50px;
      width: 50px;
      color: #fff;
      margin-bottom: 10px;
      padding-top: 12px;
      font-size: 20px;
  }
  
  .gr-btn-fixed .btn.fb {
      background: #3b5998;
  }
  
  .gr-btn-fixed .btn.call {
      background: #fe8c00;
  }
  
  .gr-btn-fixed .btn.you {
      background: #c62443;
  }
  
  .search-box {
      background: #00000050;
      padding: 10px;
      border-radius: 5px;
  }
  
  .search-box .gr-select {
      width: 85%;
  }
  
  .search-box .gr-btn {
      width: 15%;
  }
  
  .search-box input.form-control,.search-box button.form-control {
      background: #efeeee;
      
  }
  .search-box button.form-control::after{
      opacity: 0;
  }
  
  .search-box .input-departure {
      position: relative;
  }
  
  .search-box .input-departure .input-icon {
      position: absolute;
      left: 8px;
      top: 8px;
      color: #666666;
      font-size: 14px;
      display: flex;
  }
  
  .search-box .input-departure .input-icon img {
      height: 20px;
  }
  
  .search-box .input-departure .input-search-box {
      padding-left: 110px;
      font-size: 16px;
  }
  
  .gr-select .suggest-select {
      background: #fff;
      border-radius: 3px;
      position: absolute;
      width: calc(200% + .5rem);
      z-index: 2;
      color: #333;
      margin-top: 6px;
      overflow-y: auto;
      padding: 10px;
      max-height: 300px;
  }
  
  .pl-80 {
      padding-left: 80px!important;
  }
  
  .pl-100 {
      padding-left: 100px!important;
  }
  
  .suggest-select .btn {
      background: #fff;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, .125)!important;
      font-size: 12px;
      cursor: pointer;
  }
  
  .suggest-select .list-group-item,
  .suggest-select .dropdown-item {
      padding: .5rem;
      display: flex;
  }
  
  .list-combo .item-uu-dai .image {
      height: 200px;
  }
  
  .list-combo .item-tour .content {
      text-align: initial;
  }
  
  .list-combo .item-tour .content .time {
      display: flex;
      align-self: center;
  }
  
  .list-combo .item-tour .content .time i,
  .list-combo .item-tour .content .time span {
      align-self: center;
  }
  
  .list-combo .item-tour .content .cost {
      font-size: 20px;
  }
  
  .list-combo .item-tour .content .cost sup {
      font-size: 12px;
  }
  
  .list-combo .item .flag.top {
      border-left: 0px solid transparent;
      border-right: 25px solid transparent;
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
  }
  
  .list-combo .item-tour.hot .flag.top {
      border-bottom: 40px solid #fe8c00;
  }
  
  .list-combo .item-tour.wish .flag.top {
      border-bottom: 40px solid #00ccff;
  }
  
  .list-combo .item-tour.sell .flag.top {
      border-bottom: 40px solid #cc0000;
  }
  
  .list-combo .item-tour.normal .flag.top {
      display: none;
  }
  
  .list-combo .item-tour.normal .text.top {
      display: none;
  }
  
  .list-combo .item .text.top {
      top: 0rem;
      left: 0px;
      bottom: auto;
      right: auto;
      padding: 11px;
      line-height: 1;
      padding-right: 20px;
  }
  
  .slide-tour {}
  
  .info-basic {
      display: flex;
      font-size: 18px;
      color: #1D1D1D;
      justify-content: space-between;
      margin-bottom: 1.5rem;
  }
  
  .info-basic .item i {
      color: #585858;
  }
  
  .tour-detail .book-tour {
      background: #fff;
      padding: 15px;
      box-shadow: 0 1px 2px #00000016;
      color: #434343;
  }
  
  .tour-detail .book-tour .heading {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: #D90000;
  }
  
  .tour-detail .book-tour .cost {
      color: #0082E6;
  }
  
  .tour-detail .book-tour .btn.btn-secondary {
      padding: .5rem .65rem;
  }
  
  .tour-detail .book-tour .sum {
      color: #C70000;
      font-size: 22px;
      font-weight: bold;
  }
  
  .btn-book {
      background: #FFB300;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
  }
  
  .tour-detail .info-detail {
      background: #fff;
      border-top: 1px solid #BEBEBE;
      padding: 10px 0 0px 0;
  }
  
  .tour-detail .info-detail .ss-text {
      padding: 1.5rem 15px 2rem 15px;
      border-bottom: 1px solid #BEBEBE;
  }
  
  .color-0023D1 {
      color: #0023D1;
  }
  
  .tour-detail .info-detail .ss-text .nav-tabs .nav-link {
      border-radius: 0;
  }
  
  .ss-text .list-service .item {
      font-size: 16px;
      padding-left: 10px;
      margin-bottom: 1rem;
  }
  
  .ss-text .list-service .item::before {
      content: " ";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #0082E6;
      position: absolute;
      left: 15px;
      top: 9px;
  }
  
  .item-home {
      position: relative;
      border-radius: 3px;
      overflow: hidden;
  }
  
  .item-home .ovelay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #000000a1, #00000000);
      border-radius: 3px;
      overflow: hidden;
  }
  
  .item-home .category {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: #fff;
  }
  
  .item-home .category .top {
      font-size: 30px;
      margin-bottom: 5px;
  }
  
  .item-home .category .bot {
      font-size: 14px;
  }
  
  .list-location-suggest .item-home {
      border-radius: 10px;
  }
  
  .list-uu-dai .item-1 {
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 1rem;
  }
  
  .list-uu-dai .item-2 {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 1rem;
  }
  
  .popular-option .item {
      margin-bottom: 2rem;
  }
  
  .popular-option .item .image {
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 10px;
  }
  
  .popular-option .item .area {
      color: #999999;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 6px;
  }
  
  .popular-option .item .name {
      font-size: 16px;
      color: #333333;
      font-weight: bold;
      margin-bottom: 10px;
  }
  
  .popular-option .item .info-basic {
      display: flex;
      color: #666666;
      font-size: 14px;
  }

  .ks-detail .info-basic{
      font-size: 13px;
  }
  .ks-detail .info-basic .item .fa-star{
    color: #F7B508;
  }
  .list-room .heading{
        margin-bottom: 1rem;
        font-size: 16px;
       
  }
  .list-room .heading-column {
    color: #fff;
    background: #009ADA; padding: 10px;
    margin-bottom: 10px;
  }
  .list-room .item-room{
      background: #fff;
      border: 1px solid #EDEDED;
      margin-bottom: 1.5rem;
      color: #070707;
  }
  .list-room .item-room .image{
      padding: 0 10px;
      max-height: 150px;
      overflow: hidden;
  }
  .list-room .item-room .list-left{
      font-size: 12px;
      text-align: left;
      padding: 10px;
      padding-left: 20px;
  }
  .list-room .item-room .list-left li{
    margin-bottom: .5rem;
}
.list-room .item-room .border-right{
    border-right:1px solid #EDEDED;
}
.list-room .item-room .price{
    border-bottom: 1px solid #EDEDED;
    padding: 2rem 0rem;
}
.list-room .item-room .price .old{
    font-size: 20px;
    color: #9B9B9B;
    text-decoration: line-through;
}
.list-room .item-room .price .new{
    font-size: 24px;
    font-weight: bold;
    color: #F50000;
}
.list-room .item-room .list-right{
    font-size: 12px;
}
.list-room .item-room .list-right {
    display: flex;
    flex-wrap: wrap;
}
.list-room .item-room .list-right li{
    margin-bottom: 20px;
    width: 50%;

}
.btn-book-room{
    background: #FFB300;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
}
.list-suggest-ks .item{
    margin-bottom: 2rem;
}
.list-suggest-ks .item .image{
    max-height: 250px;
    overflow: hidden;
    margin-bottom: .75rem;
}
.list-suggest-ks .item .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #070707;
    text-align: center;
}
.contact{
    margin-top: -100px;
}
.contact .box{
    box-shadow: 0 3px 10px #00000016;
}
.contact .box .left{
    padding: 30px 60px;
    background: #fff;
    color: #070707;
    
}
.contact .box .left .heading{
    font-size: 24px;
    font-weight: bold;margin-bottom: 1.5rem;
}
.contact .box .right{
    background: #0090FF;
    color: #fff;
    padding: 30px 60px;
    box-shadow: 0 3px 10px #00000016;
}
.contact .btn-book{
    font-weight: 500;
    padding: 1rem 2rem;
}

.modal-book-tour .modal-content{
    background: url(../imgs/bg-popup.jpg) no-repeat center center;
    background-size: cover;
}
.modal-book-tour .btn-book{
    font-weight: 500;
}
.modal-book-tour .modal-header{
    text-transform: uppercase;
}
.modal-book-tour .modal-title{margin: auto;}

.block-filter{
    background: #fff;
    box-shadow: 0 0 5px #00000030;
    padding: 25px;
}
.block-filter .item{
    color: #333333;
}
.block-filter .item .heading{
    font-size: 16px;
    font-weight: bold;
}

.block-filter .item .option{
    transition: .5px;
    margin-bottom: 2rem;
    overflow: hidden;
}
.block-filter .item .option a:hover{
    color: #0023D1;
    transition: .5s;
}
/* Customize the label (the container) */
.label-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .label-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border:1px solid #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .label-checkbox:hover input ~ .checkmark {
    border:1px solid #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .label-checkbox input:checked ~ .checkmark {
    border:1px solid #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .label-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .label-checkbox .checkmark:after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid #0023D1;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .option.star .label-checkbox  .fa-star{
    color: #fe8c00;
  }
  .list-result .item{
    background: #fff;
    box-shadow: 0 0 5px #00000030;
  }
  .list-result .item .image{
    overflow: hidden;
    height: 100%;
    width: calc(100% - 5px );
  }
  .list-result .item .image img{
    object-fit: cover;
}
  .list-result .item .title{
      font-size: 18px;
      color: #333333;font-weight: bold;
      margin-bottom: 8px;
}
.list-result .item .star{
    color: #fe8c00;
    margin-bottom: 1rem;
    font-size: 14px;
}
.list-result .item .location,.list-result .item .tag {
    color: #666666;
    font-size: 12px;
    margin-bottom: 1rem;
}
.list-result .item .tag {
    display: inline-block;
}
.list-result .item .tag .item{
    box-shadow: 0 0 0;
    float: left;
    padding: 7px 10px;
    border:1px solid #d6d6d6;
    margin-right: 1rem;
}
.list-result .item .price{
    text-align: right;
}
.list-result .item .price .price{
    font-size: 24px;
    color: #cc0000;
    font-weight: bold;
}
.btn-view-more-cate{
    color: #000;
    font-size: 18px;
    cursor: pointer;
}
.opac-text{
    background-color:darkgray;
    opacity:0.1;
}
  @media(max-width:1366px) {}
  
  @media(max-width:1200px) {}
  
  @media(max-width:1080px) {}
  
  @media(max-width:992px) {
      .list-news .item .image img {
          width: 100%;
          height: 200px;
          object-fit: cover;
      }
      .banner-vmb .ovelay .heading .top {
          font-size: 30px;
      }
      .banner-vmb .ovelay .heading .bot {
          font-size: 20px;
      }
      .search-box .input-departure .input-icon img {
          display: none;
      }
      .search-box .input-departure .input-search-box {
          padding-left: 70px;
          font-size: 14px;
      }
      .search-box .gr-select {
          width: 100%;
      }
      .search-box .gr-btn {
          width: 100%;
          margin-top: 10px;
      }
      .info-basic {
          font-size: 14px;
      }
      .list-combo .item .image {
          height: 150px;
      }
      .list-room .item-room .list-right li{
        
        width: 100%;
    
    }
  }
  
  @media(max-width:768px) {
      .btn-res {
          padding-left: 1rem;
          padding-right: 1rem;
      }
      .list-news .item .image {
          margin-bottom: 1rem;
      }
      .list-news .item .image img {
          width: 100%;
          height: 250px;
          object-fit: cover;
      }
      .hot-line .red {
          text-align: left;
      }
      .list-combo .item .image img {
          height: 100%;
          object-fit: cover;
      }
      .banner-vmb .ovelay {
          position: initial;
          padding: 20px;
      }
      .search-box .gr-select {
          width: 100%;
      }
      .search-box .gr-btn {
          width: 100%;
      }
      .search-box .gr-select .col {
          flex-basis: auto!important;
          margin-bottom: 5px;
      }
      .banner-vmb .ovelay .heading {
          margin-bottom: 2rem;
      }
      .banner-vmb .ovelay .heading .top {
          font-size: 28px;
      }
      .banner-vmb .ovelay .heading .bot {
          font-size: 16px;
      }
      .search-box .input-departure .input-icon img {
          display: block;
      }
      .search-box .input-departure .input-search-box {
          padding-left: 110px;
          font-size: 15px;
      }
      .banner-vmb .ovelay {
          background: #8ec0ff;
      }
      .gr-select .suggest-select {
          width: 100%;
      }
      .list-combo .item .image {
          height: 220px;
      }
      .list-combo .item .content .tit {
          font-size: 18px;
      }
      .list-combo .item-tour .content .cost {
          font-size: 16px;
      }
      .info-basic {
          font-size: 14px;
      }
      .list-location-suggest .item-home .category .top {
          font-size: 20px;
          margin-bottom: 3px;
      }
      .item-home .category .bot {
          font-size: 12px;
      }
      .popular-option .item {
          margin-bottom: 1rem;
      }
      .header .dropdown-menu{
          transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    background: #f8f8f8;
    transition: 1s;
      }
      .header .dropdown-menu .dropdown-item{
        padding-left: 1px;
        padding-bottom: 10px;
        font-size: 18px;
    
      }
      .list-room .item-room .list-right li{
        
        width: 100%;
    
    }
    .btn-book-room{
        width: 100%;
    }
    .list-room .item-room .image{
        max-height: 250px;
    }
    .contact .btn-book{
        padding: .75rem 1rem ;
    }
    .contact{
        margin-top: -40px;
    }
    .contact .box .left{
        padding: 2rem 1rem;
    }
    .contact .box .right{
        padding: 1.5rem 1rem;
    }
    .block-filter .item .option{
        overflow: hidden;
        height: 0;
        margin-bottom: 0;
    }
    .block-filter .item .option.show{
        height: auto;
        transition: .5s;
    }
    .block-filter .item .heading{
        -webkit-appearance: menulist;
    }
  }
  
  @media(max-width:567px) {
      .header .navbar-toggleable-sm .navbar-nav .nav-item {
          align-self: auto;
      }
      ul.navbar-nav.ml-auto {
          padding: 1rem 0;
      }
      .header .navbar-toggleable-sm .navbar-nav .nav-link {
          padding: 1rem 0;
      }
      .header .navbar-brand {
          max-width: 130px;
          padding: 10px 0;
      }
      .ss-name .left {
          text-align: center;
          margin-bottom: 1rem;
          width: 100%;
      }
      .ss-name .right {
          margin-left: 0;
          text-align: center;
          width: 100%;
      }
      .select-place {
          margin: auto;
      }
      .list-combo .item .image img {
          height: 100%;
          object-fit: cover;
      }
      .banner-vmb .ovelay .heading {
          margin-bottom: 1rem;
      }
      .banner-vmb .ovelay .heading .top {
          font-size: 20px;
          text-align: center;
      }
      .banner-vmb .ovelay .heading .bot {
          text-align: center;
      }
      .gr-btn-fixed .btn {
          height: 40px;
          width: 40px;
          padding-top: 10px;
          padding-left: 12px;
          font-size: 16px;
      }
      .suggest-select .dropdown-item {
          padding: .5rem 0;
      }
      .info-basic {
          flex-wrap: wrap;
      }
      .list-location-suggest .item-home {
          margin-bottom: 1rem;
      }
      .list-location-suggest .item-home .category .top {
          font-size: 20px;
          margin-bottom: 3px;
      }
      .item-home .category .bot {
          font-size: 14px;
      }
      .list-location-suggest .item-home img {
          min-height: 150px;
          max-height: 250px;
          object-fit: cover;
      }
      .ss-name .left .tit {
          font-size: 20px;
      }
      .list-room .item-room .price {
        padding: 0 0 1rem 0rem;
    }
    .list-result .item .image{
        width: 100%;
    }
  }
  
  @media(max-width:375px) {
      .banner-vmb .ovelay .heading .top {
          font-size: 18px;
      }
      .banner-vmb .ovelay .heading .bot {
          margin: 0!important;
          font-size: 15px;
      }
      .tour-detail .book-tour {
          font-size: 13px;
      }
      .ss-name {
          padding-bottom: 1rem!important;
      }
  }