﻿#config-wrapper { position: static !important; }
#config-wrapper tr td img { border: 1px dotted #ddd; }
#config-wrapper i.icon-pencil7 { cursor: pointer; }
#config-main { height: 100%; display: table;width: 100% }
#attack-thumb { width: 180px; border: 1px dotted #ddd; }
