

body {
    font-size:16px;
    font-weight: 400;
    color: #161616;
    background: #fff;
    
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.banner{background: url(../images/change/banner-01.jpg) no-repeat top center;color: #161616;min-height: 100vh;background-size: cover;}
.header{width: 100%;}
.header.fixed{background: #fff;position: fixed;width: 100%;box-shadow:0 2px 11px 3px rgba(0, 0, 0, 0.08);z-index: 1000;top: 0;}
.header .navbar-expand-md .navbar-nav .nav-link:hover{transition: .3s;color: #003d65;}
.banner .hero-text {padding-top: 30vh;padding-bottom: 100px}
.banner .hero-text .title{font-size: 30px;font-weight: bold;color: #003d65;margin-bottom: 1.5rem;font-family: 'Times New Roman', Times, serif;
line-height: 1.2;}
.banner .hero-text .des{margin-bottom: 1.5rem; font-size:1rem; font-weight:400;}
.banner .hero-text .btn-order{background: #fff;text-transform: uppercase;padding: .75rem 2rem;border-radius: 2rem;transition: .3s;box-shadow: 0 3px 10px lightgray;}
.banner .hero-text .btn-order:hover{transition: .3s;background: #003d65;color: #fff;}

.heading-ss{font-size: 30px;font-weight: bolder;text-align: center;color: #1c338a;margin-bottom: 1.5rem;font-family: 'Times New Roman', Times, serif;}

.home-main-products{}
.home-main-products .item{margin-bottom: 3.5rem;padding: 0 1.5rem;color: #1c338a;}
.home-main-products .item .image{margin-bottom: 2rem;}
.home-main-products .item:hover .image img{transform: scale(1.05);transition: .3s;}
.home-main-products .item .image img{transition: .3s;}
.home-main-products .item .cate-name{font-size: 24px;text-transform: uppercase;font-family: 'Times New Roman', Times, serif;font-weight: bold;
color: #1c338a;position: relative;}
.home-main-products .item .cate-name::before{content: "";width: 30px;height: 2px;background: #1c338a;position: absolute;left: calc(50% - 15px);
top: -10px;}
.home-main-products .item .btn-order{background: #fff;border-radius: 3rem;box-shadow: 0 0px 10px lightgray;text-transform: uppercase;color: #1c338a;padding: 10px 2rem;font-weight: 600;}
.home-main-products .item .view-more{margin-bottom: 1rem;font-size: 14px;}
.home-main-products .item .view-more i{font-size: 9px;}

.home-features{font-size: 15px;text-align: center;padding-top: 4rem;line-height: 1.4;
background: url(../images/change/bg-ft.jpg) no-repeat top center;background-size: cover;}
.home-features .item .text{margin-top: 1.5rem;}
.home-features .item{margin-bottom: 3rem;}

.my-video{padding: 4rem 0;background: #dbe3ff;}
.my-video .text, .other-products .text{color: #333333;margin-bottom: 2rem;text-align: center;}
.my-video .video{box-shadow: 15px 15px 0px #1c338a;height: 450px;}
.my-video .video::before{}

.other-products{padding: 3rem 0; background: #fff;}
.other-products .grid-images .item{margin-bottom: 30px;}

.get-price{background: url(../images/change/bg-baogia.jpg) no-repeat center;background-size: cover;padding: 3.5rem 0;color: #fff;}
.get-price .heading-ss{color: #fff;margin-bottom: 1rem;}
.get-price .text{text-align: center;margin-bottom: 2rem;}
.get-price .btn{background: #fff;color: #1c338a;text-transform: uppercase;border-radius: 0;padding:.75rem 2rem;border-radius: 2rem;}

.footer{padding-top: 3rem ;background: #f0f1f4;color: #1c338a;font-size: 16px;}
.footer .title-menu{font-size: 24px;font-weight: bold;margin-bottom: 1rem;font-family: 'Times New Roman', Times, serif;}
.footer .footer-menu{margin-bottom: 1.5rem;}
.footer .footer-menu.font-14{font-size: 16px;}
.footer .footer-menu li{margin-bottom: .35rem;}
.footer .copyright{color: #1c338a;background: #fff;font-size: 14px;font-family: 'Times New Roman', Times, serif;}
.footer__creditCards img {
    padding: 3px;
    max-height: 30px;
    max-width: 40px;
}

.contact { margin-top: -120px; }
.contact .box { box-shadow: -5px 0px 10px 10px #00000016;}
.contact .box .left { padding: 80px 60px; background: #fff; }
.contact .box .left input.form-control, .contact .box .left textarea.form-control { background: #fff; color: #666666; border: 1px solid #D9D9D9; }
.contact .box .left .heading { font-size: 24px; font-weight: 700; margin-bottom: 2rem; }
.contact .box .left label{font-weight: bold;}
.contact .box .right { background: #0699BF; padding: 80px 40px; box-shadow: 0 3px 10px #00000016; color: #fff; }
.contact .btn-book { font-weight: 500; padding: .5rem 2rem; background: #166888; color: #fff; cursor: pointer;font-size: 24px;text-transform: uppercase; margin-top: 1rem;}
.contact .info-company { font-size: 14px; border-bottom: 1px solid #0EADD6; }
.contact .info-company li { margin-bottom: 5px; }

.easypack-breadcrumb .breadcrumb{background: #fff;font-size: 14px;padding: 1.5rem 0;}
.easypack-breadcrumb .breadcrumb-item.active {color: #333333;}
.easypack-breadcrumb .breadcrumb-item{color:#8F8F8F}


.list-news .item {padding: 1rem 0;border-bottom: 1px dashed #CFCFCF;}
.list-news .item:first-child{padding-top: 0;}
.list-news .item:last-child{border-bottom: 0;}
.list-news .item .time{font-size: 12px;color: #9B9B9B;display: flex;margin-bottom: 8px;}
.list-news .item .title{color: #000;margin-bottom: 1rem;font-size: 16px;font-weight: medium;margin-bottom: .75rem;}
.list-news .item .text{font-size: 13px;color: #1D1D1D;}
.list-news .item .image{margin-bottom: 1rem;}
.list-news .item .image img{width: 100%;height: auto;}

.easypack-pagination .page-link{color: #878787;font-size: 15px;}
.easypack-pagination .pagination,.easypack-pagination .page-item:first-child .page-link,.easypack-pagination .page-item:last-child .page-link{border-radius: 0;}
.easypack-pagination .page-item.active .page-link{color: #BD1526;background: #fff;border-color: #dee2e6;}

.heading-ss-right{font-size: 18px;text-transform: uppercase;color: #BD1526;font-weight: bold;padding-left: 1.3rem;position: relative;}
.heading-ss-right::before{
    width: 10px;
    height: 10px;
    position: absolute;
    content: "";
    left: 0px;
    background: #BD1526;
    top: 8px;
}
.heading-ss-right::after{
    width: 100%;
    height: 3px;
    position: absolute;
    content: "";
    left: 0px;
    background: #BD1526;
    top: calc(100% + 2px);
}
.heading-ss-right-2{font-size: 18px;text-transform: none;color: #000;}
.heading-ss-right-2::before{background: #089106;}
.heading-ss-right-2::after{top: 50%;left: 190px;width: calc(100% - 190px);background: #EDEDED;}


.blog-ss-right .item-large{margin-bottom: 1.5rem;}
.blog-ss-right .item-large .image{margin-bottom: .75rem;}
.blog-ss-right .item-large .image img{width: 100%;height: auto;}
.blog-ss-right .item-large .title{font-size: 15px;font-weight: 600;color: #000;}
.blog-ss-right .item-large .detail{font-size: 14px;color: #3C3C3C;}

.blog-ss-right .item-small{margin-bottom: 1.3rem;}
.blog-ss-right .item-small .time{color: #9B9B9B;font-size: 12px;display: flex;}
.blog-ss-right .item-small .title{font-size: 14px;color: #000;line-height: 1.4;}
.blog-ss-right .item-small .image img{width: 100%;height: auto;}

.news-detail .time,.news-detail .share{color: #9B9B9B;font-size: 12px;}
.news-detail .fb-ic,.news-detail .gg-ic{background: url(../images/fb-ic.png) no-repeat center;width: 20px;height: 20px;background-size: cover;}
.news-detail .gg-ic{background: url(../images/gg-ic.png) no-repeat center;}
.news-detail .content-blog { color: #000; font-size: 15px;margin-bottom: 3rem; }
.news-detail .content-blog .title { font-size: 18px; font-weight: bold; margin-bottom: 1rem; }
.news-detail .content-blog .description { margin-bottom: 1rem; font-weight: 500; }

.about-text{font-family: 'Times New Roman', Times, serif;padding: 3rem 0;font-size: 20px;color: #333333;}
.about-text .heading{font-size: 36px;font-weight: bold;text-align: center;margin-bottom: 1rem;}
.about-text .connect{text-align: center;}
.about-text .connect .social{color: #485AA6;text-transform: uppercase;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 12px;letter-spacing: 3px;font-weight: 600;}

.questions{font-family: 'Times New Roman', Times, serif;font-size: 23px;color: #333333;text-align: center;padding: 3rem 0;}
.questions .item .heading {font-weight: bold;margin-bottom: 1.5rem;font-size: 36px;}
.questions .item {padding: 2rem 0; border-bottom: 1px solid lightgrey;}

.request-code{color: #333333;font-size: 14px;margin-bottom: 3rem;}
.request-code .form-request{padding: 20px 30px;box-shadow: 0 3px 6px lightgrey; border-radius: 1px;margin-bottom: 2rem;}
.request-code .form-request .heading{font-weight: bold;margin-bottom: 1rem;}
.request-code .form-request .text{font-size: 13px;margin-bottom: 1.5rem;}
.request-code .form-request .form-control{font-size: 14px;background: #F5F5F5;}
.request-code .form-request input.form-control{height: 50px;}
.request-code .form-request .btn{font-size: 24px;text-transform: uppercase;background: #166888;color: #fff;font-weight: 600;
border-radius: 2rem;padding: .5rem 1.5rem;}
.request-code .text-request .heading{font-family: 'Times New Roman', Times, serif;font-size: 30px;font-weight: bold;text-transform: uppercase;
margin-bottom: 1rem;}

.faqs-right {padding: 15px 10px;box-shadow: 0 3px 6px lightgrey;color: #333333;font-size: 13px;margin-bottom: 2rem;}
.faqs-right .heading{color: #00597B;font-size: 20px;font-weight: bold;font-family: 'Times New Roman', Times, serif;margin-bottom: 1rem;}
.faqs-right .item-question{padding: 12px 0;border-bottom: 1px dashed lightgrey;}
.faqs-right .item-question:hover,.faqs-grid .item-list-faqs a:hover{color: #00597B;transition: .3s;}
.faqs-grid .form-search{position: relative;}
.faqs-grid .form-search input{padding-left: 1.8rem;font-family: 'Times New Roman', Times, serif;}
.faqs-grid .form-search i.fa-search{position: absolute;left: 8px;top: 10px;color: #747474;}
.faqs-grid .item-list-faqs{font-size: 15px;color: #333333;font-family:'Times New Roman', Times, serif ;margin-bottom: 2rem;}
.faqs-grid .item-list-faqs .topic{font-size: 18px;font-weight: bold;margin-bottom: 1rem;}
.faqs-grid .item-list-faqs .list li{margin-bottom: 3px;}
.faqs-detail{font-family: 'Times New Roman', Times, serif;font-size: 20px;color: #333333;}
.faqs-detail .title{font-size: 36px;font-weight: bold;margin-bottom: 2rem;}

.list-related-products {font-size: 16px;color: #333333;}
.list-related-products .heading{font-size: 30px;font-weight: bold;margin-bottom: 1rem;}
.list-related-products .item{text-align: center;margin-bottom: 1.5rem;}
.list-related-products .item .image img{width: 100%;}
.list-related-products .item .image {margin-bottom: .75rem;}

.product-detail-tabs{justify-content: space-between;font-family: 'Times New Roman', Times, serif;text-transform: uppercase;color: #747474;
font-weight: bold;margin-bottom: 1.5rem;border:0}
.product-detail-tabs.nav-tabs .nav-item.show .nav-link, .product-detail-tabs.nav-tabs .nav-link.active {
    color: #166888;border:0;border-bottom: 3px solid #166888;
}
.product-detail-tabs.nav-tabs .nav-link{border:0;padding: .5rem 5px;}
.product-detail-tabs.nav-tabs .nav-link:hover{border-bottom: 3px solid #166888;color: #166888;}

.tab-content-product .order-product{margin-bottom: 2rem;font-size: 14px;color: #333333;}
.tab-content-product .order-product .image img{border-radius: 5px;width: 100%;height: auto;}
.tab-content-product .order-product .title{font-weight: bold;font-size: 30px;font-family: 'Times New Roman', Times, serif;color: #000000;
text-transform: uppercase;margin-bottom: 1rem;}
.tab-content-product .order-product .description{padding-bottom: 1.5rem;border-bottom: 1px solid lightgrey;margin-bottom: 1.5rem;}
.tab-content-product .order-product .btn{color: #fff;font-size: 24px;text-transform: uppercase;background: #166888;border-radius: 3rem;
font-weight: 600;padding: 10px 2rem;}
.tab-content-product .order-product .note{margin-bottom: 1.5rem;}
.tab-content-product .order-product .note .item{margin-bottom: 8px;}
.tab-content-product .order-product select.form-control{border:0;border-bottom: 2px solid #9D9D9D;border-radius: 0;padding: .4rem 0;
font-size: 14px;color: #9D9D9D;}

.bg-E8F8FF{background: #E8F8FF;}
.color-000{color: #000000;}
.video-2{font-family: 'Times New Roman', Times, serif;font-size: 20px;}

.slide-customers .swiper-container {
    width: 100%;
    height: 600px;
  }
  .slide-customers  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.slide-customers{font-family: 'Times New Roman', Times, serif;color: #333333;font-size: 20px;}
.slide-customers .text{font-weight: bold;margin-bottom: 2.5rem;}
.slide-customers .avatar{margin-bottom: 1rem;width: 150px;height: 150px;overflow: hidden;border-radius: 50%;margin-left: auto;margin-right: auto;}
.slide-customers .avatar img{width: 100%;border-radius: 50%;}
.slide-customers .name{font-size: 25px;font-weight: bold;}

.slide-customer-2{background: #E8F8FF;padding: 4rem 0 7rem;}
.slide-customer-2 .heading{font-family: 'Times New Roman', Times, serif;color: #000;font-size: 36px;font-weight: bold;text-align: center;margin-bottom: 2rem;}
.slide-customer-2 .carousel-indicators li{width: 65px;height: 65px;text-indent: 0;}
.slide-customer-2 .carousel-indicators li{opacity: 1;border: 5px solid #fff;margin: 5px;}
.slide-customer-2 .carousel-indicators .active{border: 5px solid #16688869;}
.slide-customer-2 .carousel-indicators{margin-left: 0;margin-right: 0;position: absolute;bottom: -100px;}
.slide-customer-2 .content-carousel{}
.slide-customer-2 .content-carousel-left .avatar{align-self: center;}
.slide-customer-2 .content-carousel-left .text{font-size: 15px;align-self: center;color: #333333;}
.slide-customer-2 .content-carousel-left .text .top{color: #004E6D;font-size: 20px;font-family: 'Times New Roman', Times, serif;font-weight: bold;margin-bottom: 1rem;}
.slide-customer-2 .content-carousel-left .text .bot{font-size: 18px;}
.slide-customer-2 .content-carousel-left .comment{margin-top:1rem; margin-bottom: 1rem;}

.banner-our-customer{font-family: 'Times New Roman', Times, serif;color: #333333;font-size: 20px;}
.banner-our-customer .title{font-size: 2rem;font-weight: bold;}
.btn-contact{font-family: sans-serif;font-size: 24px;text-transform: uppercase;color: #166888;border:1px solid #166888;border-radius: 3rem;padding: .5rem 2.5rem;margin-bottom: 1.5rem;}
.btn-contact:hover{color: #166888;}
.banner-our-customer .image-grid{max-height: 400px;overflow: hidden;}

/*Them CSS*/
.home-main-products .item {
    transition: .3s;
}

    .home-main-products .item:hover {
        box-shadow: -5px 5px 0px #bcdef9;
        background: #fff;
        overflow: hidden;
        transition: .3s;
    }

    .home-main-products .item .btn-order {
        margin-bottom: 2rem;
    }

    .home-main-products .item .cate-name {
        margin-bottom: .35rem;
    }

        .home-main-products .item .cate-name::before {
            background: #2399d4;
        }

    .home-main-products .item:hover .image img {
        transform: scale(1.01);
        transition: .3s;
    }

    .home-main-products .item .image {
        overflow: hidden;
    }

    .home-main-products .item .view-more {
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    .home-main-products .item .des {
        display: none;
        opacity: 0;
        text-align: center;
        font-size: 14px;
        margin-bottom: 1rem;
    }

    .home-main-products .item:hover .des {
        display: block;
        opacity: 1;
    }

    .home-main-products .item:hover .btn-order {
        background: #e7e7e7;
        box-shadow: none;
        transition: .3s;
    }

.other-products .grid-images .item {
    position: relative;
}

    .other-products .grid-images .item::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        background: #ffffff80;
        transition: .3s;
    }

    .other-products .grid-images .item:hover::after {
        height: 100%;
        transition: .3s;
        z-index: 2;
    }

    .other-products .grid-images .item .btn {
        position: absolute;
        z-index: 3;
        top: 0%;
        background: #fff;
        text-transform: uppercase;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: -moz-translateX(-50%);
        border-radius: 3rem;
        background: #fff;
        color: #1c338a;
        font-weight: bold;
        padding: 10px 20px;
        opacity: 0;
        visibility: hidden;
    }

    .other-products .grid-images .item:hover .btn {
        top: calc(50% - 1.5rem);
        opacity: 1;
        visibility: visible;
        transition: .3s;
    }

/*20-12*/
.box-bottom {
    background: #fff;
    width: 300px;
    height: auto;
    position: fixed;
    bottom: 10px;
    left: 5px;
    box-shadow: 0 0 5px lightgray;
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
}

    .box-bottom .header-b {
        background: #2a407c;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        padding: .85rem 0 .75rem;
        cursor: pointer;
    }

        .box-bottom .header-b .icon {
            width: 17px;
            height: 20px;
            background: url(../images/icon-bot.png) no-repeat center;
            background-size: cover;
            display: inline-block;
        }

        .box-bottom .header-b::after {
            content: "\f107";
            position: absolute;
            right: 2rem;
            color: #fff;
            font-family: "Font Awesome 5 Free";
            font-weight: bold;
            top: 1.1rem;
            font-size: 14px;
            transition: .3s;
        }

    .box-bottom.hidden {
        height: 52px;
        width: 300px;
        bottom: 0;
        transition: .3s;
    }

        .box-bottom.hidden .header-b::after {
            transform: rotate(-180deg);
            transform: -ms-rotate(-180deg);
            transition: .5s;
        }

    .box-bottom input.form-control {
        background: #f0f1f5;
        margin-bottom: 10px;
        border: 0;
    }

    .box-bottom .btn-dk {
        color: #fff;
        background: #f6aa31;
        text-transform: uppercase;
        font-size: 18px;
    }


@media(min-width:320px){
    .home-features .text{padding: 0 2rem;}
}

@media(min-width:375px){
    .home-features .text{padding: 0 4rem;}
}

@media(min-width:576px){
    .home-features .text{padding: 0rem;}
    .list-news .item .image{margin-bottom: 0;}
}

@media(min-width:768px){
    .header .navbar-expand-md .navbar-nav .nav-link{padding-left: 1.2rem;padding-right: 1.2rem;}
    .home-features .text{padding: 0 0rem;}
}

@media(min-width:992px){
    .home-features .text{padding: 0 2rem;}
    .my-video .text,.other-products .text{padding: 0 3rem;}

    .slide-customer-2 .carousel-indicators li{width: 80px;height: 80px;text-indent: 0;}
    .slide-customer-2 .carousel-indicators{display: block;top: 0;bottom: unset;margin-left: 0;margin-right: 0;position: absolute;}
    .banner-our-customer .title{font-size: 4rem;}
    .banner-our-customer .image-grid{max-height: 500px;overflow: hidden;}
}

@media(min-width:1200px){
    .slide-customer-2 .carousel-indicators li{width: 110px;height: 110px;text-indent: 0;}
    .slide-customer-2 .carousel-indicators{display: block;top: 0;bottom: unset;margin-left: 0;margin-right: 0;position: absolute;}
}

@media(min-width:1366px){
    .slide-customer-2 .carousel-indicators li{width: 120px;height: 120px;text-indent: 0;}
.slide-customer-2 .carousel-indicators{display: block;top: 0;bottom: unset;margin-left: 0;margin-right: 0;position: absolute;}
.banner-our-customer .image-grid{max-height: 654px;overflow: hidden;}
.banner .hero-text .title{font-size: 48px;}
}

@media(min-width:1440px){
    
}