﻿#data-list .datatable-scroll tr td span, #zone-wrapper .datatable-scroll tr td span,
#data-list .datatable-scroll tr td label, #zone-wrapper .datatable-scroll tr td label,
#data-list .datatable-scroll tr td time,
#zone-wrapper .datatable-scroll tr td time { color: #9F9F9F; font-family: tahoma; font-size: 11px; display: inline-block; }
#data-list .datatable-scroll tr td .bold { font-weight: bold; }
#data-list .datatable-scroll tr td time { }
#data-list .datatable-scroll tr td ._hot { vertical-align: middle; margin-left: 20px; }
#data-list .datatable-scroll tr td { padding: 8px 10px; }
#data-list .datatable-scroll tr td input[type="checkbox"] { cursor: pointer; }
#data-list .datatable-scroll tr p { margin-bottom: 0; }
#data-list .datatable-scroll tr .comment-lock { }
#data-list .datatable-scroll tr .allow-comment { }
#data-list .datatable-scroll tr .allow { color: #0074c9; }
#data-list .datatable-scroll tr .disable { color: #a9a9a9; }
#data-list .datatable-scroll tr td .thumb { border: 1px solid #e6e6fa; padding: 2px; }
#data-list .datatable-scroll tr:nth-of-type(odd) { background: #f5f5f5; }
#header-page { margin: 0; padding: 10px 20px 10px 0; }
._search-data { width: 250px !important; }
._zone { color: #2196f3; font-size: 11px; }
#news-edit .page-header-content { padding-left: 20px; padding-right: 0; }
#news-edit .navbar-component { margin-bottom: 4px; }
#news-edit .datatable-scroll table { margin-bottom: 40px; }
#news-form .modal-content, #news-edit-content { }
#news-edit-content { max-width: 1400px; margin: 0 auto; }
#news-edit-content .radio-inline, .checkbox-inline { padding-left: 15px; }
.tab-pane.active .row { margin: 0; }
.product-refer { border: 1px solid #a9a9a9; padding: 4px; }
.product-refer li { cursor: pointer; line-height: 30px; list-style-type: none; margin: 0px 1px; padding: 2px 5px; }
.product-refer li p { margin: 0; line-height: 40px; padding-left: 50px; }
.product-refer li .thumb img { width: 40px; float: left; clear: both; border: 1px solid #e6e6fa; padding: 2px; }

#data-list .datatable-scroll tr.row-selected { background: #dae1e4; }
#data-list .datatable-scroll tr td i.icon-magazine { color: #568f0a; }
#data-list .datatable-scroll tr td i.icon-file-presentation { color: #d3a900; }
#attack-thumb img { border: 1px solid #e6e6fa; }
.text-count-wrapper { text-align: right; font-size: 11px; }
#news-preview .container { }
#news-preview-content { padding: 0; }
#news-preview .modal-content { background: transparent !important; }
#news-preview-content .body { width: 800px; margin: 0 auto; border: 1px solid #e6e6fa; padding: 0 20px; background: #fff; }
#_body, #references { max-width: 1400px; margin: 0 auto; }
#_body .col-lg-9 .form-group { width: 100%; display: table; }
p img { margin: 0 auto; }
h1, h2 { padding: 0; margin: 0; }
#news-preview-content p img { }
.icon-video { background: rgba(0, 0, 0, 0) url("/CMS/Themes/images/video-small.png") no-repeat scroll 0 0; display: inline-block; height: 21px; left: 17px; margin: 0 auto; position: absolute; right: 0; width: 22px; top: 24px; }
.avatar { position: relative; width: 60px; height: 60px; overflow: hidden; }


#news-edit-content .header { background: #FFF; border-bottom: 1px solid #CDCDCD; padding: 2px 0; }
#news-edit-content ._body { padding-top: 30px; }
#news-preview [data-dismiss=modal] { color: #f5f5f5; }
.slimScrollDiv { overflow: initial !important; }

/*log*/
#_log { }
#_log ul { padding: 0; margin: 0; }
#_log ul li { list-style-type: none; }
#_log p { }
#_log p time { color: #a9a9a9; font-size: 11px; }
#log_content { font-size: 11px; }
#_body .form-group { display: table; margin-bottom: 12px; position: relative; width: 100%; }
#plist .row ul li.active, #rlist .row ul li.active { background: #f1f7fd; }

#tab-news { background: #fff none repeat scroll 0 0; border: 1px solid #eaeaea; display: table; margin: 0 auto; max-width: 1400px; padding: 0; width: 100%; }
#tab-news li.active { font-weight: bold; }
#tab-news li { cursor: pointer; float: left; list-style-type: none; padding: 6px 20px; }
#special .panel-heading { min-height: 40px; padding: 4px 0; }
#special ul, #special ul li p { padding: 0; margin: 0; }
#special ul li { border-bottom: 1px solid #e6e6fa; cursor: pointer; list-style-type: none; padding: 4px 0; padding-left: 10px; }
#special ul li .thumb { float: left; height: 30px; margin-right: 10px; overflow: hidden; width: 30px; border: 1px solid #ddd; }
#special ul li img { }
#special ul li p { line-height: 15px; /*white-space: nowrap*/ }
#special ul li p.text-muted { font-size: 11px; }
#news-tab-more-info ul { padding:50px 0 0; margin: 0; }
#news-tab-more-info ul li { border: 1px solid #eaeaea; cursor: pointer; list-style-type: none; padding: 2px 5px; }
#news-tab-more-info ul li.active { background: #ddd; }
#news-tab-more-info ul li:nth-child(odd) { border-bottom: 0; }
